[2016-12-08 12:22] AaronHolbrook opened #2 "default wp user creds in readme are incorrect"
readme says `admin/12345` but it's actually `admin/password`

[2016-12-08 12:23] AaronHolbrook opened #3 "allow installer / user to set their own default user / pass for wp"
For example, I prefer and have always used `dev/dev` as it's fast and easy to type with one hand.

I'd love to be able to have that be my default - maybe a local file or .env file?

[2016-12-08 13:10] AaronHolbrook opened #4 "see fatal/php errors in browser"
currently just gave me a 500 error in browser

[2016-12-08 13:13] AaronHolbrook opened #5 "running wp on host machine gives me error"
[code]

[2016-12-08 13:14] AaronHolbrook commented on #5
just the bare `wp` command doesn’t work, whenever you’re running an actual command it works

[2016-12-08 15:52] philipnewcomer opened #6 "Add option to proxy uploads from production during new site setup"

[2016-12-08 15:56] philipnewcomer opened #7 "Allow all containers to be restarted using the wpdocker command"
The MySQL, Nginx, PHP, and Memcached containers should all be able to be restarted individually using the `wpdocker` command.

[2016-12-08 16:35] AaronHolbrook commented on #6
YES! 👍

[2016-12-08 17:38] AaronHolbrook opened #8 "swap index.php and index.html in nginx try order"
Existing VVV nginx config tries php before .html:

![](http://d.pr/i/I8xZ/2RWe0ETC+)

[2016-12-08 20:52] AaronHolbrook opened #9 "add ability to add custom php or other packages without forking wpdocker"

[2016-12-08 20:52] AaronHolbrook commented on #9
i.e. pdo_mysql

[2016-12-09 19:53] AaronHolbrook opened #10 "Have default wpdocker bash command provide some insight into what subcommands are available"

[2016-12-09 19:53] AaronHolbrook commented on #10
Running the command with no flags or subcommands should tell a user what is available

[2016-12-09 20:04] AaronHolbrook opened #11 "Allow customizable defaults for wp-config"
For example, I'd like all my installs to have display errors set to true by default:

![](http://d.pr/i/yvrj/1G1DhBSB+)

[2016-12-09 20:29] AaronHolbrook opened #12 "php error on default load"
looking for advanced cache by default causes some php warnings:

[code]

[2016-12-13 00:42] #2 closed

[2016-12-13 01:19] #5 closed

[2016-12-13 01:20] philipnewcomer commented on #5
@AaronHolbrook you will need to run `docker-compose build` and `wpdocker restart` after pulling down this change to your local environment.

[2016-12-13 01:43] #8 closed

[2016-12-13 01:55] #12 closed

[2016-12-13 01:57] philipnewcomer commented on #12
@AaronHolbrook if you haven't yet, you'll need to remove `define( 'WP_CACHE', true );` manually from local sites you've already created, as this change just updates the defaults for new sites.

[2016-12-13 02:14] #4 closed

[2016-12-13 12:32] AaronHolbrook opened #13 "Add ability to enable xdebug via $_GET parameter request"
It would be nice to be able to enable xdebug processing with a simple `?xdebug=on` flag to the request URL.

If the site is giving a 500 error then there's no option to use set a cookie yet and it would be nice to use xdebug to track down what the issue is.

[2016-12-13 12:37] AaronHolbrook opened #14 "mysql databases should use utf8mb4 encoding"
Make mariadb/mysql use utf8mb4 as their default/typical encoding:

![](http://d.pr/i/TWE0/5ThBeXgE+)

[2016-12-13 12:39] AaronHolbrook commented on #14
This can be done in the `mariadb.cnf` file:

[code]

[2016-12-13 12:46] AaronHolbrook commented on #14
for reference: https://make.wordpress.org/core/2015/04/02/the-utf8mb4-upgrade/

[2016-12-15 11:15] AaronHolbrook opened #15 "add support to run codeception outside of docker"
similar to how we can run wp in the host, add support for codeception

[2016-12-15 16:44] philipnewcomer opened #16 "Fix Terminal Formatting for WP-CLI Commands"
The fix for #5 had the side effect of removing formatting (colors, tables, etc.) for wp-cli command output, due to the removal of docker's pseudo terminal emulation, or something like that. We need to get that formatting back without reverting #5.

[2016-12-15 16:47] AaronHolbrook commented on #16
Yea I noticed that as well, running `wp list plugins` causes a very hard to read output

[2016-12-16 12:48] #16 closed

[2016-12-16 15:54] philipnewcomer opened #17 "Clarify include path instructions in docs"
Currently the docs say this:

The documentation should be expanded with some more info on how to do that.

[2016-12-16 17:00] philipnewcomer opened #19 "Include Calendar PHP extension by default"

[2016-12-16 17:13] #19 closed

[2016-12-19 12:03] AaronHolbrook opened #20 "Adding media/image to fresh install results in http error from wp admin"
![](http://d.pr/i/P5Gl/1ts83Aw3+)

[2016-12-19 12:10] AaronHolbrook commented on #20
The one on the left fails, the one on the right succeeds:

![](http://d.pr/i/tKBl/5Zlk9sKa+)

[2016-12-19 12:11] AaronHolbrook commented on #20
Here are my current php settings for mem size and upload limit: ![](http://d.pr/i/De7i/3kvK3Mju+)

[2016-12-19 15:42] AaronHolbrook commented on #6
This may work https://chrismarslender.com/2013/12/17/fallback-images/

[2016-12-19 15:47] AaronHolbrook commented on #6
using something like
[code]

[2016-12-22 12:58] philipnewcomer opened #21 "Add JETPACK_STAGING_MODE constant to default wp-config file"
Having `define( 'JETPACK_STAGING_MODE', true );` in the wp-config.php file may resolve issues with Jetpack on production sites becoming disconnected after importing a production database to a local site.

[2016-12-22 13:58] philipnewcomer opened #22 "Browser extension to show/toggle Xdebug cookie status"
Create a Chrome extension (and possibly for other browsers as well) to show and toggle the current status of the Xdebug cookie

[2016-12-28 13:22] philipnewcomer opened #23 "Support multiple PHP versions"
Support multiple versions of PHP, switchable via a cookie like Xdebug is currently toggled.

[2016-12-28 19:06] #14 closed

[2016-12-28 19:24] #20 closed

[2016-12-28 19:28] #21 closed

[2016-12-28 20:02] #7 closed

[2016-12-28 21:30] #10 closed

[2016-12-30 13:13] AaronHolbrook opened #24 "Add static file directive to nginx config"
This should be added to the nginx shared.conf.inc so that it doesn't pass along requests to static files to php (which prevents additional pointless processing for php, etc):

[code]

[2016-12-30 13:14] AaronHolbrook commented on #24
I've added above the `/` and php directives in my config:
![](http://d.pr/i/OKP4/5XHYFtbr+)

[2016-12-30 13:16] AaronHolbrook opened #25 "Allow php.ini max sizes to be higher"
32m might be appropriate for prod for most sites, but may be a bit low for what we're doing on dev.

I would prefer a higher default or a way to change without forking wpdocker - a custom settings file seems to be a recurring necessity here to be able to customize these types of things

![](http://d.pr/i/aebS/1PoHT7P8+)

[2016-12-30 14:23] AaronHolbrook opened #26 "Add PDO mysql support to php and php-xdebug docker builds"

[2016-12-30 14:24] AaronHolbrook commented on #26
Add support to both php and php-xdebug docker files

[code]

[2016-12-31 13:59] AaronHolbrook commented on #24
Probably need to be smarter about the css/js files as then they get cached too long

[2017-01-04 12:22] #26 closed

[2017-01-04 15:23] philipnewcomer commented on #17
Need clarification about ZSH. Also add note to run the Docker app after installing it.

[2017-01-05 02:00] philipnewcomer opened #29 "Install Memcache PHP extension and use by default instead of Memcached"
Memcache*d* is not fully compatible with PHP 7 yet, although it works fine for some sites. However, on one of my local sites, enabling object caching with the PECL Memcached extension brought the site to a crawl. The old Memcache extension is less desirable for object caching, but a PHP7-compatible port exists so that's what I'll be using by default instead of Memcached. The Memcached extension wi

[2017-01-05 12:22] philipnewcomer commented on #6
Reopening: If the user does not include a protocol (`http://` or `https://`) the production server URL, the script should automatically add `http://`. Otherwise proxying will not work.

[2017-01-05 12:23] #29 closed

[2017-01-05 13:27] philipnewcomer opened #30 "Rename project"
I need to change the name of the project. http://wpdocker.com/ is already an established commercial entity, and I don't want to cause confusion with that, or to be using a name they may have trademarked.

When I originally named the project, I did a Google search for `wpdocker` and didn't see any relevant results, so I assumed no one was using the name. What I didn't notice was that Google oh-so-h

[2017-01-05 13:46] AaronHolbrook commented on #30
👍

[2017-01-05 13:48] AaronHolbrook commented on #30
What will the bash command be? dockerbox?

[2017-01-05 14:07] philipnewcomer commented on #30
Yes, `dockerbox` will be the new bash command. It's also worth noting that the xdebug ide key will be `dockerbox` as well, so be sure to update that in your projects.

[2017-01-05 14:19] philipnewcomer commented on #30
Repository has been successfully moved to https://github.com/DockerBox/dockerbox

[2017-01-06 17:22] philipnewcomer opened #31 "Sync error logs to the host"
We should be able to view error logs without having to open a shell in the host. Add a `log` directory in the dockerbox root where logs can be synced from the containers.

[2017-01-07 13:27] AaronHolbrook commented on #31
Be very careful with this as a default, as VVV's log file would go unchecked and I occasionally found it to be greater than a few gigs in size.

[2017-01-07 13:34] AaronHolbrook commented on #17
What clarification about ZSH? Anyone running ZSH should be able to manage adding a script to their PATH I think

[2017-01-07 14:50] philipnewcomer commented on #31
I'm thinking it would make sense to clear out all logs whenever the system is started with `dockerbox up`, which should keep them from growing too excessively large. I don't think one would often need to refer back to a log from a previous session, usually you're only looking at them in real-time when you need to debug a problem.

[2017-01-07 14:52] philipnewcomer commented on #17
Not always. Regardless, I think a wiki page for adding the path should be created which can be linked to from the main readme, then the instructions in the readme can be simplified.

[2017-01-07 14:58] AaronHolbrook commented on #31
Yea exactly. Maybe to prevent increased writes to the system you could use a command to enable/disable logging?

I.e.
`dockerbox logging enable` / `dockerbox logging disable`.

Maybe even a way for dockerbox to remember it's last setting persistent across machine boot. So if someone's turned off logging it doesn't just enable when the system is rebooted.

[2017-01-07 15:03] AaronHolbrook commented on #17
Makes sense

[2017-01-07 16:02] AaronHolbrook commented on #23
Also a query arg would be nice for this

[2017-01-07 16:02] AaronHolbrook commented on #23
Would also be nice to not install a ton of php version by default, but instead only if user directs dockerbox to do so (goes back to the idea of somehow allowing customization by user)

[2017-01-07 17:00] AaronHolbrook opened #35 "Allow customization via single user controllable file"
Allow tweaking via a single user controllable file to customize some instances that the default settings may not provide for.

This touches a number of items and is the basis to allow them to be possible, including:
* #25 - allow customization of php.ini max sizes
* #23 - support multiple php versions
* #11 - allow customizable defaults for wp-config
* #9 - add ability to add custom php packages
*

[2017-01-07 17:03] AaronHolbrook commented on #35
After some investigation of the ability to use JSON, I think we may be better off using a simple `.env` type file instead.

JSON parsing would require a dependency that could prove difficult to distribute with this tool, whereas parsing a simple key / value text `.env` file would be much easier.

For example a possible solution: http://stackoverflow.com/a/34093548/1181865

[2017-01-07 17:22] AaronHolbrook commented on #35
Actually it's much easier than that (in fact that was accomplishing the wrong thing):

The `.config` file might look like:
[code]

And in dockerbox.sh:
[code]

[2017-01-07 17:26] AaronHolbrook commented on #35
Proposing the name of the configuration file to be: `dockerbox.ini`.

I think it stands to reason that it should not be a hidden file as this is something the user should normally be able to see / edit.

I further think that the typical `.env` which stands for 'environment' doesn't make much sense here. We are not setting up a project which would require different 'environments'. Rather we are con

[2017-01-07 17:51] AaronHolbrook commented on #35
Since the docker compose is what needs these, this will probably require a separate script to write the custom values to the config files or bring them in temporarily for the build.

[2017-01-07 18:21] philipnewcomer commented on #35
Noting that we can actually use environment variables to populate values in the docker-compose file: https://docs.docker.com/compose/environment-variables/#/substituting-environment-variables-in-compose-files

[2017-01-07 19:16] AaronHolbrook commented on #35
Oh very cool

[2017-01-07 22:13] #6 closed

[2017-01-08 23:41] #35 closed

[2017-01-08 23:46] philipnewcomer commented on #35
Infrastructure for user-configurable settings is now in place, see https://github.com/DockerBox/dockerbox/commit/58205745eff55c7d002a1163e46a7e0157041368#diff-86aa6485c58b4fc1f20493ab5339a2cdR496

I've started off by allowing for a custom sites directory, by placing something like the following in dockerbox.ini:
[code]

Now that this is in place, we can begin working through the other issues liste

[2017-01-09 00:22] philipnewcomer commented on #35
Noting that docker-compose does allow defining of variables via a .env file, but those variables only apply to the docker-compose.yml file and the file would need to be parsed in order to be used in the `dockerbox` command, which would add unnecessary complexity. Thus, I'm defining all defaults inside the `dockerbox` command itself, so they can easily be used both within the command and in the com

[2017-01-09 01:42] AaronHolbrook commented on #35
Amazing work this is awesome!

Thanks Philip!

[2017-01-09 12:28] AaronHolbrook opened #36 "Add dockerbox command to interface more easily with mysql"
i.e. for non-WP type sites (or if rebuilding a broken one from a docker rebuild), some commands to create a database for example would be helpful

[2017-01-09 12:34] philipnewcomer commented on #36
You can already do direct mysql queries from the host command line, i.e.:
`dockerbox mysql "create database test;"`
`dockerbox mysql "show databases;"`

Are you thinking of something more than this?

[2017-01-09 12:36] AaronHolbrook commented on #35
How should we modify values that only get used by the docker-compose file and not the dockerbox script?

[2017-01-09 12:38] philipnewcomer commented on #35
I'm fine with defining those values in the dockerbox script along with the others, to keep everything organized in one place. It doesn't really matter that the value is only used in the docker-compose file.

[2017-01-09 13:07] AaronHolbrook commented on #36
Nope that's exactly what I was looking for - should add some documentation or this to the wiki

[2017-01-09 13:08] AaronHolbrook commented on #36
Ah, I see this at the bottom of the readme, nevermind!

[2017-01-09 13:08] #36 closed

[2017-01-09 13:09] AaronHolbrook commented on #35
Why don't you start it off, I'm not sure where / how it should do that in the dockerbox script in order to receive the custom values in the docker-compose step

[2017-01-10 01:45] philipnewcomer commented on #13
Closed in #33

[2017-01-10 01:45] #13 closed

[2017-01-10 01:47] philipnewcomer commented on #25
@AaronHolbrook I don't see much of a downside to setting a higher default, so I think that's preferable to making this user-configurable. What is the default value that would be appropriate for your needs? 128M?

[2017-01-10 02:08] #17 closed

[2017-01-10 02:11] philipnewcomer commented on #15
@AaronHolbrook I'm not very familiar with codeception. What changes to the project would be required in order to facilitate codeception support?

[2017-01-10 02:22] #3 closed

[2017-01-10 02:25] philipnewcomer commented on #35
@AaronHolbrook here's an example of adding variables to the dockerbox script: https://github.com/DockerBox/dockerbox/commit/64ba29af594a2a0ce5b118fef8487a87854edf79

While in this example I'm not using them in the docker-compose file, the procedure is the same and they are available in docker-compose if I would want to use them.

[2017-01-10 02:28] philipnewcomer opened #37 "Use new site name in WP_CACHE_KEY_SALT constant"
When creating a new site, the site name should be used in the WP_CACHE_KEY_SALT constant. Otherwise cache collisions may occur. Currently it is set to `sitename01` for all new sites.

[2017-01-10 15:19] AaronHolbrook commented on #25
I would say 128 as default, but some things we develop may need to be way higher

[2017-01-10 23:39] #37 closed

[2017-01-10 23:43] #25 closed

[2017-01-10 23:44] philipnewcomer commented on #25
Setting a max size of 128M. If it turns out we're having to set this even higher, we can revisit the possibility of making this user-configurable.

[2017-01-11 00:43] philipnewcomer commented on #24
@AaronHolbrook I'm confused as to why this is needed. Aren't static files already being served directly without involving PHP?

[2017-01-11 01:20] philipnewcomer commented on #24
Okay, I did some investigating and I think it's if the file does not exist that it gets passed to PHP that you were referring to, so we definitely do need this. I also see a similar directive in the [wordpress.org recommended Nginx configuration](https://codex.wordpress.org/Nginx).

However, I wonder, since this is a development environment, would we want any of these files to be cached? Obviously

[2017-01-11 12:07] AaronHolbrook commented on #24
Yea that's where I was torn, on one hand we don't want to be passing unrealistic requests like favicon.ico continually to the php backend, since during debugging that causes additional fake requests to come in, but on the other hand caching static assets could be very problematic to seeing changes.

[2017-01-11 12:08] AaronHolbrook commented on #24
Maybe we should add in the favicon.ico block like the codex has as well

[2017-01-11 12:08] AaronHolbrook commented on #24
https://codex.wordpress.org/Nginx#Global_restrictions_file

[2017-01-11 12:29] AaronHolbrook commented on #9
pdo_mysql was added by default, I still think this would be a good idea, but maybe it's not as important.

I think some other things that may be useful/nice would be to include any of these for whatever the user is building:

[code]

[2017-01-11 13:20] philipnewcomer commented on #24
Good idea; done.

[2017-01-11 13:40] philipnewcomer commented on #31
Docker has a native logging facility which might be sufficient. I've added a shortcut for viewing the logs: `dockerbox logs`

Not sure if there's a need to have an actual log file on the host or not; thoughts?

[2017-01-11 15:33] AaronHolbrook commented on #31
At this time I would vote no; I don't feel a need to put it to a file so long as we can view it on demand.

[2017-01-11 15:34] #31 closed

[2017-01-11 15:35] AaronHolbrook commented on #31
Oh - I thought running this command would allow you to tail the logs, is there a way we can add that ability to keep it running/open?

[2017-01-11 15:36] AaronHolbrook commented on #31
Also this is all logs for everything, can we specify different things? i.e. php vs mysql for example

[2017-01-12 12:53] philipnewcomer opened #38 "Make database data persistent"
MySQL database data should be persistent even if the container is deleted. Data Volumes (https://docs.docker.com/engine/tutorials/dockervolumes/#/data-volumes) provide this functionality. We should store the mysql data directory in a persistent volume.

[2017-01-12 14:15] philipnewcomer commented on #24
Hmmm; looks like the static file directive is conflicting with image proxying from production. Reopening to investigate that.

[2017-01-12 22:16] AaronHolbrook opened #39 "During site creation, accept a wp-content repo url to clone instead of using default wp downloaded wp-content"
Not sure if you want to do this, but I find myself doing this every time to set up a pre-existing project

[2017-01-13 12:34] #24 closed

[2017-01-13 12:35] philipnewcomer commented on #24
Proxying was working fine; but all static assets were being proxied. Now only proxying image files, and only image files in an uploads directory.

[2017-01-13 12:36] philipnewcomer commented on #31
It does tail the logs, but has to run through them all first to get to the end to start tailing. Will add a restriction to the number of lines, and also allow you to pass in a container name to restrict the logs.

[2017-01-13 12:41] AaronHolbrook commented on #31
I mean live tailing - like `tail -f`. When I run the command it spits out lines and then is done

[2017-01-13 12:45] philipnewcomer commented on #31
@AaronHolbrook on my system it was live-tailing it, which the `-f` flag already present in the command should have been doing. Were/are you seeing something different?

[2017-01-13 12:45] AaronHolbrook commented on #31
Huh, it's working now: ![](http://d.pr/i/ubl9/4s9yZICB+)

It wasn't staying open before - not sure why

[2017-01-16 22:24] AaronHolbrook opened #40 "Customize value: php memory size"
Currently working on a project that requires a large overhead of memory available. Need to be able to set this pretty high (higher than we'd want for a default, I'm sure)

[2017-01-16 22:31] AaronHolbrook opened #41 "php.ini values not respected"
Change value in php.ini in config folder, it doesn't show after a full dockerbox restart in a phpinfo() call

[2017-01-19 15:43] AaronHolbrook opened #42 "Allow wp-cli to install packages"
I believe this is a side effect from running in a container:

![](http://d.pr/i/PQ8c/3hOZ2ZBr+)

[2017-01-20 12:48] #41 closed

[2017-01-20 12:48] #42 closed

[2017-01-20 13:03] philipnewcomer commented on #42
@AaronHolbrook you should be good to go now after a `dockerbox compose build && dockerbox restart`.

[2017-01-20 13:19] AaronHolbrook opened #43 "Have wp-cli respect local .wp-cli/config.yml file"
http://wp-cli.org/config/

Any way to have it respect the host's preferences here?

[2017-01-20 13:20] AaronHolbrook opened #44 "Make sweet logo for Pilothouse :)"

[2017-01-20 14:16] philipnewcomer commented on #43
@AaronHolbrook I'm pretty sure that's possible, but would a, say, `wp-cli.yml` file placed in the dockerbox directory work just as well? Having it in that location would keep all configuration contained within dockerbox, which I think would be preferable.

[2017-01-20 15:40] AaronHolbrook commented on #43
True, what if you looked in both and you prioritized a `wp-cli.yml` that's within dockerbox?

I.e. the normal user location is the fallback - that way you get best of both worlds, and people that may not want to have duplicate customization folders don't have to

[2017-01-23 17:36] philipnewcomer opened #45 "generate-ssl command should detect current site"
If the command is run from within a site directory, the `generate-ssl` command should detect that and not prompt the user.

[2017-01-27 13:28] AaronHolbrook opened #46 "Ability to add other types of containers"
i.e. an elasticsearch or redis container that we can interact with be amazing

[2017-01-30 13:43] AaronHolbrook commented on #9
php redis also

[2017-01-31 01:52] morganestes opened #47 "ERROR: No container found for php_1"
On my first run of `dockerbox up`, I get stuck with the error `No container found for php_1` repeating for several minutes until I finally cancel the run. Just before that is a problem with mailcatcher, but I don't know if that's the cause or just a red herring.

Here's the messages just before and after the error starts:

[code]

[2017-01-31 11:23] philipnewcomer commented on #47
@morganestes in your log I see some network-related errors, which are keeping the mailcatcher container from being built. I can't see the logs for the php containers, but I suspect that may have happened there as well, which would explain the `No container found for php_1` message, as the containers were unable to be built.

Try running `dockerbox compose build` (which is a shortcut for `docker-co

[2017-01-31 16:59] morganestes opened #48 "Ensure new line in hosts file"
To avoid potential conflicts, please ensure there's an empty line prior to adding to the hosts file, and that each entry gets its own line.

When my first site was added to `/etc/hosts`, it was appended to the last line in the file. Since another program edited the hosts file and the line ended with `##`, it commented out the new host entry that dockerbox created.

[code]

should be
[code]

[2017-02-02 03:26] morganestes commented on #47
Running `dockerbox compose build` didn't throw any errors, but now there's an error with nginx ☹️ .
[code]

[2017-02-02 11:43] philipnewcomer commented on #47
The `EADDRINUSE` error means that Docker could not bind port 80 on your machine to the Nginx container, because port 80 is already is use by another service. Is there any other software on your machine already using port 80, such as another local environment?

[2017-02-02 12:28] AaronHolbrook opened #49 "Replace memcached with redis as object cache system"
Just a possibility, but in using both, I've been finding Redis to be much more capable and easy to deal with.

http://stackoverflow.com/questions/10558465/memcached-vs-redis

http://www.infoworld.com/article/3063161/application-development/why-redis-beats-memcached-for-caching.html

[2017-02-02 13:30] philipnewcomer commented on #49
I have definitely seen a shift toward Redis as the preferred object cache for WordPress over Memcached and would be 👍 for this. My only concern in moving Dockerbox to Redis would be that many of our production sites are still on Memcached, and there is value in having our local environments match production as closely as possible.

However, Redis does have distinct advantages, and I'd like to swit

[2017-02-02 13:38] philipnewcomer commented on #44
I'm thinking something to indicate coding, along with the Docker whale. Maybe something like this, replacing the whale emoji with something more Docker-like: <🐳>

(Not sure what parts of the Docker logo we can use due to copyright issues.)

[2017-02-02 14:09] AaronHolbrook commented on #49
I think the object caching layer is pretty well abstracted, and dependent on the environment. I guess you may need to provide the different `object-cache` file, but other than that it should function the same in the codebase: `wp_cache_get/set`.

[2017-02-02 14:09] AaronHolbrook commented on #44
Or the docker name for that matter?

[2017-02-02 14:22] philipnewcomer commented on #49
This is a bit of an edge case, but it's a real issue I've dealt with previously in client work that illustrates why you'd want to be using the actual caching backend locally that you are on production:

https://github.com/markjaquith/WP-TLC-Transients/issues/29
Memcached doesn't store entries with dates longer than 30 days. As a result, something that worked with Redis locally could be broken on p

[2017-02-02 14:27] philipnewcomer commented on #44
If using the Docker name becomes an issue, I'd probably rename the project to `dckrbx` or some permutation of that, kind of the WordPress foundation allows you to use `WP` in your name but not `WordPress`.

[2017-02-02 14:28] briansaycocie commented on #44
Docker is an open source project right? I feel like its possible to use the name and a version of the whale. May need to check a bit more on that though.

[2017-02-02 14:31] philipnewcomer commented on #44
Looks like the Docker project itself is licensed under the Apache 2.0 license. Not sure if the artwork falls under that umbrella or not.

[2017-02-02 14:38] AaronHolbrook commented on #49
Ah, interesting.

I would try to always treat cache as something that is extremely volatile, but I can see where you're coming from.

My vote is to have Redis as the default and allow memcached to be the one that's custom placed in

[2017-02-03 01:56] #46 closed

[2017-02-03 01:57] philipnewcomer commented on #46
Documentation on adding additional containers is here: https://github.com/DockerBox/dockerbox/wiki/Adding-Additional-Containers

[2017-02-03 02:58] AaronHolbrook commented on #46
Woot! Very nice @philip!!

[2017-02-06 12:12] AaronHolbrook opened #50 "WP plugin list not a registered command"
I know this worked before, but it's no longer working:

![](http://d.pr/i/m2gR/2XKY26B1+)

Other WP commands aren't working either:

![](http://d.pr/i/PPJY/5vN4kyQI+)

This is with the latest version of DockerBox

[2017-02-06 12:42] AaronHolbrook commented on #50
The command works now, but it's giving a warning:

`env: can't execute 'tput': No such file or directory`

![](http://d.pr/i/CMvF/rla3DcYU+)

[2017-02-06 12:48] philipnewcomer commented on #50
The `env: can't execute 'tput': No such file or directory` warning has been occurring since the start of the project. I haven't yet taken time to trace it down, but it's not related to this issue.

I'll open a separate issue for the warning message.

[2017-02-06 12:48] #50 closed

[2017-02-06 12:48] philipnewcomer opened #51 "env: can't execute 'tput': No such file or directory"
Warning message is displayed before the output of some WP-CLI commands, like `wp plugin list`

[2017-02-08 04:04] Jaace commented on #48
I tried to replicate this issue but was unable to.

I edited my /etc/hosts file to end in ## TESTING ## (with no newline following) and the line:
127.0.0.1 site.dev #dockerbox gets placed on a new line as expected, underneath it.

Is this issue still happening?

The place to fix would be in bin/dockerbox line 197 and I would have forked a fix. We could always just force a newline there so it adds

[2017-02-08 11:18] AaronHolbrook commented on #48
I like them not having a newline in between each site; maybe if you're still having problems we just have a newline before dockerbox starts adding sites?

[2017-02-08 12:29] philipnewcomer commented on #48
@morganestes is your local copy of DockerBox up to date? The initial iteration of the hosts file handling in DockerBox wasn't as intelligent as it is now.

FWIW I'm also unable to reproduce this. I manually edited my hosts file to include only the line from your example (`## Local by Flywheel - End ##`), with no newline at the end, and after starting up DockerBox, my hosts file looks like this:
![

[2017-02-08 12:32] philipnewcomer commented on #47
@morganestes are you still having problems or can this be closed out?

[2017-02-08 22:00] Jaace commented on #44
https://www.docker.com/brand-guidelines

Some reading on the matter - not sure if the name also needs to be modified due to this. It may be worth reaching out to them regarding both the image and name, though for the image it looks like you'd need to at least make it different enough that it wouldn't be confused for an officially licensed Docker product -- `DO NOT: [...] Modify the Docker logo in

[2017-02-08 22:15] philipnewcomer commented on #44
Thanks for finding that @Jaace!

Looks like the name "DockerBox" is not allowed under those guidelines (emphasis mine):

Guess we need to [rename the project again](https://github.com/DockerBox/dockerbox/issues/30) (sigh).

We could just do something like `dckrbox`, but I don't really like that and I'm open to other suggestions.

[2017-02-08 22:17] AaronHolbrook commented on #44
Plus dckrbox, at first glance looks like something a little more profane

On Feb 8, 2017, 4:15 PM -0600, Philip Newcomer <notifications@github.com>, wrote:

[2017-02-08 22:34] briansaycocie commented on #44
Possible project names (off the top of my head):
- Boxy
- Stacked
- ModularBox or ModBox
- StackedBox
- BuildBox
- BoxUp
- BoxLab
- CrateLab
- WireCrate

[2017-02-08 22:43] AaronHolbrook commented on #44
DevBox?

On Feb 8, 2017, 4:34 PM -0600, Brian Saycocie <notifications@github.com>, wrote:

[2017-02-08 23:12] philipnewcomer commented on #44
I like the name DevBox but that's already being used for other local environment projects:
https://www.predix.io/services/other-resources/devbox.html
https://github.com/Aboalarm/devbox

Doesn't necessary mean we can't use it too, though, if it's not copyrighted

[2017-02-08 23:19] Jaace commented on #44
Docker is a synonym for "longshoreman" so you could possibly go the route of that terminology (nautical/container/shipping) just an idea though :)

[2017-02-09 04:22] Jaace commented on #44
* DevPilot
* StowBox
* DevPack
* DevStash
or combinations therein haha

[2017-02-09 18:37] morganestes commented on #48
I just updated my local repo and created a new site and can't recreate this again. Not sure what I did before, but doesn't seem to be a problem now. 🤷‍♂️

[2017-02-09 18:37] #48 closed

[2017-02-09 18:39] morganestes commented on #47
I'm still getting a variation of this problem with new sites, but not sure where the conflict is. Since I can't reproduce it consistently, I'll close it and revisit if I can narrow it down later.

[2017-02-09 18:39] #47 closed

[2017-02-11 13:36] Jaace commented on #47
I just got this error - Docker and my dockerbox was up and running with only one site. I created a new site and saw the output below. The site was created however, so I'm not seeing issues on that end. Looking at the Kitematic PHP logs for Docker, I didn't see anything out of the ordinary on dockerbox_php_1 either:

dockerbox_php_1:
[code]

My output:
[code]

[2017-02-11 22:57] philipnewcomer commented on #44
I've settled on a new name for the project: _Pilothouse_. This is a nautical term (thanks for the suggestion, @Jaace), which fits well with the concept of being the control center for a "ship" of docker containers.

I considered using "Wheelhouse" instead of "Pilothouse", as I think wheelhouse may be slightly more recognizable for what it is, but Wheelhouse is already a [well-established brand](ht

[2017-02-17 16:39] philipnewcomer commented on #30
Reopening to change name to Pilothouse (#44)

[2017-02-17 20:08] #30 closed

[2017-02-17 20:08] #38 closed

[2017-02-17 20:10] philipnewcomer commented on #30
For future reference, instructions for upgrading from DockerBox to Pilothouse without losing data are here: https://github.com/Pilothouse-App/pilothouse/wiki/Upgrading-from-DockerBox-to-Pilothouse

[2017-02-17 20:13] philipnewcomer commented on #44
Project has been fully renamed throughout the codebase. Note that just pulling down the latest changes will cause you to loose your mysql databases. I have put together a set of instructions for backing up and restoring your mysql data: https://github.com/Pilothouse-App/pilothouse/wiki/Upgrading-from-DockerBox-to-Pilothouse

[2017-02-21 00:37] philipnewcomer commented on #9
This is now possible. Most of the groundwork was already in place from d841c628dd12f9946b143e93058afccdb773ad8b.

I've documented the process of adding custom PHP modules here: https://github.com/Pilothouse-App/pilothouse/wiki/How-to-Add-Custom-PHP-Packages

[2017-02-21 00:38] #9 closed

[2017-02-21 00:54] #11 closed

[2017-02-21 00:58] philipnewcomer commented on #11
Documentation is here: https://github.com/Pilothouse-App/pilothouse/wiki/Using-Your-Own-Defaults-for-wp-config.php

[2017-02-21 01:39] #40 closed

[2017-02-21 01:53] philipnewcomer commented on #40
You can now customize any PHP configuration setting, and not only PHP, but any service in Pilothouse. Documentation here: https://github.com/Pilothouse-App/pilothouse/wiki/How-to-Override-Service-Configuration-Files

[2017-02-22 01:12] #43 closed

[2017-02-22 01:14] philipnewcomer commented on #43
Added WP-CLI to the config file documentation: https://github.com/Pilothouse-App/pilothouse/wiki/How-to-Override-Configuration-Files

[2017-02-22 01:23] #45 closed

[2017-02-25 19:20] Jaace commented on #22
I've written a small Chrome Extension to handle this. Since this doesn't exist in the Chrome Web Store (not sure how to go about doing that) I wanted to deliver it here, with a README on how to set it up, which requires turning developer mode on in Chrome and loading the unpacked extension via chrome://extensions/ - pretty straight-forward.

I want to get your preference on this before I do anythi

[2017-02-25 23:38] Jaace opened #52 "Issue with InnoDB redo log size."
Putting this here in case it's a setup issue - I'm importing a rather large database at around 4.0 Gb and got this error that I'm looking into. Perhaps it's a system level issue, but figured I'd point this out in case anyone else has run into this problem:
[code]

After logging into mysql and running the following, it looks like we have approximately 268 Mb allocated here.

[code]

The innodb_buff

[2017-02-26 00:56] Jaace commented on #52
I've modified my local mysql.conf file in pilothouse by adding the following:
[code]
I'm not sure that the innodb_file_format change is necessary but I added it in just in case. Now when booting up and looking through the container logs for pilothouse_mysql_1, I can see the change:
[code]

Running the large import (though I'm not sure the size mattered, just maybe one of the queries), now works fi

[2017-02-27 23:50] philipnewcomer commented on #22
That's awesome, thanks @Jaace!

I'd love for this to be on the Chrome web store eventually, but I'd like to have us test it for a bit first.

I've created [a new repo](https://github.com/Pilothouse-App/pilothouse-chrome-extension) here in the Pilothouse org for the Chrome extension, and added you @Jaace as a collaborator. Go ahead and push to that.

I'm going to close this issue now that we have a

[2017-02-27 23:50] #22 closed

[2017-02-28 00:02] philipnewcomer commented on #52
I'm no database configuration expert either, so it'd be nice to have someone who knows more about this stuff weigh in on this issue. However, that's probably not going to happen, so in the meantime I'm good to have this added to the default mysql configuration file.

However, I would like to only add what's really needed, so if you're not sure that `innodb_file_format = barracuda` is required, let

[2017-02-28 02:50] Jaace commented on #52
Absolutely agree. However, I did add some other items to my own config, referenced here, altered slightly for the 2Gb allotted to my Docker: https://github.com/million12/docker-mariadb/blob/master/container-files/etc/my.cnf.d/tuning.cnf

This brought times down quite a bit for queries. I had one select "LIKE" query that was taking around 150s brought down to 44.8s after using this config. Addition

[2017-03-02 23:53] philipnewcomer commented on #52
I'm good to have those tuning parameters added in as well. It should help speed up our local sites. This config isn't intended for use in production environments anyway, so there shouldn't be a whole lot of fallout if something doesn't work as expected.

[2017-03-02 23:53] Jaace commented on #52
Great! I can get a PR together tonight and send that over. I've been using these settings for a little over a week now with no issues.

[2017-03-03 01:07] philipnewcomer commented on #52
Merged, thanks @Jaace!

[2017-03-03 01:07] #52 closed

[2017-03-07 14:30] Jaace opened #54 "Trying to start up Pilothouse and getting an nginx error"
I have no other machines running but I'm getting this error:

`ERROR: for nginx  Cannot start service nginx: driver failed programming external connectivity on endpoint pilothouse_nginx_1 (b4652d1471ea2aa201116ffcb3d17d3ad26456541b86838a2350be64c89bd2a8): Error starting userland proxy: Bind for 0.0.0.0:80: unexpected error (Failure EADDRINUSE)`

Any ideas?

[2017-03-07 15:12] Jaace commented on #54
Figured it out - I was updating PHP on my system the other day and it automatically starts Apache on port 80, so I had to stop that and restart Docker. Thanks for taking a look, just a local setup issue; closing!

[2017-03-07 15:12] #54 closed

[2017-03-10 21:42] #23 closed

[2017-03-10 22:05] philipnewcomer commented on #23
Added support for multiple versions of PHP, switchable via a `php` cookie and a query arg, similar to how Xdebug works already. The current Xdebug toggle/query arg plays nicely with the PHP toggle/query arg.

I decided to officially support in Pilothouse only the versions of PHP currently supported by the PHP maintainers themselves, 5.6, 7.0, and 7.1 currently. While I wouldn't rule out older vers

[2017-03-21 17:01] AaronHolbrook commented on #44
Still need a sweet logo for this :)

[2017-03-21 21:11] philipnewcomer opened #55 "Add SoapClient to PHP"
SoapClient is used by some WooCommerce modules; should be available by default.
<img width="1539" alt="screen shot 2017-03-21 at 5 09 23 pm" src="https://cloud.githubusercontent.com/assets/1446874/24171050/561c7a2c-0e59-11e7-8a4e-7dcd5610d09c.png">

[2017-03-22 12:08] Jaace opened #56 "Using XDebug for a CRON"
This may be a misunderstanding of use on my part: I'm unable to get breakpoints to trigger for XDebug when the code I'm running is executed on a CRON.

I figured this is due to the XDebug setup using cookies that do not exist for the CRON when it's running in the background. Is there a setup that can be implemented to enable this, similar to how the wp-cli command needs a flag; something that can

[2017-03-22 19:11] philipnewcomer commented on #56
If the cron is triggered by WP calling itself, then I'm guessing even if xdebug is enabled for the original request, those cookies are not passed on to the second request.

Currently there's no way to enable xdebug when there is no cookie or query arg triggering it. Not sure how hard that would be to add.

You can, however, trigger a cron event manually from the command line with xdebug like this:

[2017-03-27 14:05] philipnewcomer commented on #55
Also add Exif extension for plugins that process images

[2017-04-03 14:31] philipnewcomer opened #57 "Use containerized Composer and WP-CLI"
Composer should be run inside a PHP container, instead of on the host. This will make the entire stack more portable, and eliminate issues with a package requiring a PHP version higher than what is currently installed on the host.

Will also help with cross-platform compatibility by not requiring PHP to be installed on Windows and Linux hosts where it is not available by default.

WP-CLI should be

[2017-05-02 12:41] philipnewcomer opened #58 "Chrome 58 does not trust local SSL certificates"
Subject Alternate Name is now a required field for Chrome to trust a certificate, and is not currently included in the SSL certificates generated by PH. This results in local sites using SSL not being accessible in Chrome 58.

Details:
* https://www.reddit.com/r/sysadmin/comments/66clon/chrome_58_displays_an_untrusted_warning_for_certs/
* https://github.com/webpack/webpack-dev-server/issues/854
*

[2017-05-02 12:47] philipnewcomer commented on #58
Running the following command will make Chrome 58 recognize these local certificates, but this workaround will likely not be supported forever:
```defaults write com.google.Chrome EnableCommonNameFallbackForLocalAnchors -bool true```

[2017-05-02 20:11] #58 closed

[2017-05-02 20:12] philipnewcomer commented on #58
Pilothouse now generates certs that Chrome 58 likes.

[2017-05-02 20:18] philipnewcomer commented on #58
Also you can now run the `generate-ssl` command as many times as you like and it will no longer add duplicate SSL config lines to the site's nginx config.

[2017-05-12 18:53] AaronHolbrook opened #59 "sed: no such file or directory"
FYI, ran into this on a fresh new site creation:

![](http://d.pr/i/f1UTv/4Zmgnw7i+)

[2017-05-12 18:53] AaronHolbrook commented on #59
also wp did not install

[2017-05-12 18:57] AaronHolbrook commented on #59
Ah, this is my fault; wp was not available via my PATH

[2017-05-12 18:59] AaronHolbrook commented on #59
Actually it is available, not sure what's going on:
![](http://d.pr/i/7CJPY/5rDZ8niZ+)

[2017-05-12 19:03] philipnewcomer commented on #59
I think you need to run `composer install` in the PH directory. WP-CLI is installed via Composer and is then synced into the PHP containers.

[2017-05-12 19:23] AaronHolbrook commented on #59
Ahhh, yea that did the trick

On May 12, 2017, 2:03 PM -0500, Philip Newcomer <notifications@github.com>, wrote:

[2017-05-12 19:23] #59 closed

[2017-05-16 10:45] philipnewcomer opened #60 "generate-ssl command uses all domains from the nginx config as the primary domain name"
When a new local SSL certificate is generated, if there are multiple domain names in the `server_name` directive of the nginx config, the entire string of domain names is used as the domain name in the SSL cert. Instead, if there are multiple domain names defined, they should be added to the cert individually.

[2017-05-16 10:48] philipnewcomer commented on #44
ping @briansaycocie 😃

[2017-05-17 19:10] philipnewcomer opened #61 ""wp shell" command does not work"
The `wp shell` command, which is used to gain a PHP console to the WordPress install it is run against, exits with `sh: /bin/bash: not found`. I suspect that's because Bash isn't installed in the PHP container.

[2017-05-22 14:04] philipnewcomer opened #62 "Add Laravel Support"
* When creating a new site, ask whether it's a plain PHP, WordPress or Laravel site. If WordPress or Laravel, use the Nginx config appropriate for the chosen platform.
* When creating a new site and Laravel is chosen, set up a new Laravel project with the Nginx webroot pointed to the `public` directory.
* Add the `mysql` host pointing to 127.0.0.1 to the host's `hosts` file.
* Use containerized Co

[2017-05-23 20:21] briansaycocie commented on #44
I'm working on this!

[2017-05-23 21:14] briansaycocie commented on #44
![pilothouse](https://cloud.githubusercontent.com/assets/1328262/26376634/d589a12c-3fd2-11e7-8c8b-0ae256b674ab.png)

Yay or nay? I can add some colors to it. Thoughts on a color palette?

[2017-05-24 12:38] AaronHolbrook opened #63 "Add xdebug profiling/cachegrind functionality"
Would love to see an easy way to enable and then view a complete trace/profile on a page/script without having to mess around with configuring it every time.

Similar to how mailcatcher is set up out of the box and presents a hosted interface.

[2017-05-24 12:38] AaronHolbrook commented on #63
https://www.sitepoint.com/debugging-and-profiling-php-with-xdebug/

[2017-05-24 21:16] philipnewcomer commented on #44
I think this is a good start. I'd like to see a simpler version of the ship with fewer individual shapes making up the icon. The reason being that the ship icon will in some cases be displayed at a small size, so it needs to be something that works as a favicon, or as a small icon on a non-Retina display. For instance, the GitHub organization icon on a user's profile page is 35x35px.

As for a col

[2017-05-25 12:27] AaronHolbrook opened #64 "Change db creds away from wordpress"
I think the general sense here is that this is no longer just a `wordpress` development system.

It's minor, but I think the database user/pass should reflect that attitude.

[2017-05-25 12:28] AaronHolbrook commented on #64
https://github.com/Pilothouse-App/pilothouse/wiki/Connecting-to-a-Site's-Database-Remotely

[2017-05-25 12:35] AaronHolbrook commented on #64
maybe something like `pilothouse` /`pilothouse`

[2017-05-26 15:19] philipnewcomer commented on #64
Yep, I agree the creds should not be WordPress-specific. However, I don't think we can change this without breaking existing installs which were created with the old credentials, unless we maintain two sets of credentials (`wordpress` / `wordpress` and `pilothouse` / `pilothouse`). I wouldn't be opposed to doing that for the time being, since the project is still considered in "beta" status, but t

[2017-05-29 22:35] #56 closed

[2017-06-06 15:29] AaronHolbrook opened #65 "Formatting of wp-cli commands is unreadable"
Not sure what can even be done here, but it used to work fine and is now looking like this:

![](http://d.pr/i/nJ47R2/1psqKT3b+)

[2017-06-07 12:16] AaronHolbrook opened #66 "Pilothouse disappears/stops running"
Seems to happen after I leave my computer for a few minutes and come back, possibly a mac sleep issue, but I never have had any problems with dockerbox/pilothouse before.

I come back and the database and domains do not respond.

Running `pilothouse up` gets everything going again, but I'm not sure what change has caused this to happen; it's quite annoying.

[2017-06-07 13:23] AaronHolbrook opened #67 "Allow tailing of different types of logs"
I.e. we can tail all `nginx` logs, but it's all combined (access and error).

Would be helpful to be able to specify what logs we'd like to see, i.e.:

[code]

to watch just the error logs

[2017-06-07 14:32] philipnewcomer commented on #66
Do you by any chance have your IDE open, which may be paused on an Xdebug breakpoint triggered by having a wp-admin page open in your browser and doing an autosave or something?

If not, try restarting each of the containers individually to narrow down which one has paused, i.e. ph restart nginx/mysql/php70 etc.

[2017-06-07 18:30] AaronHolbrook commented on #66
I do have an IDE open, but it is not paused at all.

The computer definitely goes to sleep, but that was never an issue before. I'll try restarting each container next time

[2017-06-10 00:41] philipnewcomer commented on #65
@AaronHolbrook did you resize your terminal window after initiating the command, but before the command displayed its output? I think that may have something to do with the borked formatting.

[2017-06-12 12:27] philipnewcomer commented on #65
Possibly related: https://github.com/wp-cli/wp-cli/issues/4127

[2017-06-13 01:39] AaronHolbrook commented on #65
This is not due to any resizing of the windows; any size window and not touching it before/during/after or at all still results in this mess. Are you able to replicate?

[2017-06-13 01:43] AaronHolbrook commented on #65
Pulled latest and ran `composer update`; am now at wp cli version 1.2.1:

![](http://d.pr/i/WCYNkS/eUHw5ts9+)

Still busted

[2017-06-27 21:52] Jaace commented on #65
This, feel, may be related to https://github.com/Pilothouse-App/pilothouse/issues/51 but I could be wrong.

[2017-06-28 13:53] AaronHolbrook commented on #65
@Jaace are you also seeing the same issue?

[2017-06-29 18:45] Jaace commented on #65
@AaronHolbrook I'm not seeing it that malformed but I am getting the tput issue.

[2017-06-29 19:23] AaronHolbrook commented on #65
FYI i was getting the `tput: No such file..` way before i was getting malformed output

[2017-06-29 22:27] philipnewcomer commented on #66
There's an update for Docker available, I didn't notice a fix for this issue specifically but updating might be worth a try.

[2017-06-29 22:29] philipnewcomer commented on #65
Yeah the `tput` issue has been there from the beginning.

@AaronHolbrook did you try rebuilding your Docker containers with the instructions I messaged you in Slack? I'm wondering if something that was installed in the container or some change might be doing this. I've not been able to reproduce it.

[2017-06-29 23:38] philipnewcomer commented on #55
Resolved in https://github.com/Pilothouse-App/docker-image-php/commit/b5556af642d44f8be3c466cae846c011b31a616e and https://github.com/Pilothouse-App/docker-image-php/commit/2e0edae06b16e1b61b30b7518b3206a0161153f5.

[2017-06-29 23:38] #55 closed

[2017-06-30 00:07] #64 closed

[2017-06-30 00:09] philipnewcomer commented on #64
This actually isn't a breaking change; anyone who's already using Pilothouse will have a MySQL user already created with the necessary permissions for `wordpress`/`wordpress`, and that won't change by setting a new default user for new sites.

Wiki updated.

[2017-06-30 10:58] AaronHolbrook commented on #64
https://github.com/Pilothouse-App/pilothouse/wiki/Connecting-to-a-Site's-Database-Remotely

[2017-06-30 10:58] AaronHolbrook commented on #64
FYI for anyone coming after, the new creds are now `pilothouse/pilothouse`

[2017-07-03 21:01] philipnewcomer commented on #49
Added to the `develop` branch as this is a breaking change. Also updated the PHP images in https://github.com/Pilothouse-App/pilothouse/commit/ee984985ca2011de8aca14443dc97a7edccdf280.

I decided to switch to Redis without leaving Memcached in place, as I don't see a good reason to have both object cache backends in place at the same time, and anyone who absolutely needs to use Memcached over Redi

[2017-07-03 21:01] #49 closed

[2017-07-03 21:13] philipnewcomer opened #68 "Convert Pilothouse script to NodeJS"
Rewrite the main `pilothouse` script in NodeJS instead of Bash. Among other benefits, Node will be overall easier and less obtuse to work with compared to Bash, and will make Pilothouse cross-platform with minimal effort.

[2017-07-05 11:00] AaronHolbrook commented on #68
Won't that require a dev dependency of having node installed then?

What about something like python instead?

[2017-07-05 12:13] philipnewcomer commented on #68
Yes, it would require having Node installed. However, many developers, unless they only do backend work and never build frontend assets, already have it.

Unless things have changed on the Windows side, using Python instead would still require Windows users to install Python, so I don't see that Python would be any better from this perspective.

[2017-07-06 10:30] markuswolff commented on #51
You are most probably running WP-CLI in a minimal Linux environment that is missing the tput command. Install the ncurses package and the message should disappear.

[2017-07-06 10:42] philipnewcomer commented on #51
@markuswolff you're right, WP-CLI is being run in a very minimal Alpine Linux container. I'll see if installing ncurses fixes the issue. Thanks for pointing me in the right direction!

[2017-07-06 10:59] markuswolff commented on #65
You might be missing the ncurses package. That would explain both the missing tput message and the broken formatting.

[2017-07-06 22:47] philipnewcomer opened #69 "Update location of ssl config used when generating SSL certs"
Seems like in a recent macOS update the SSL config file used when generating SSL certs was changed from `/etc/ssl/openssl.cnf` to `/System/Library/OpenSSL/openssl.cnf`. On my system which is fully updated the old file is still in place, but there's been reports of the `generate-ssl` command failing because `/etc/ssl/openssl.cnf` does not exist, so we need to check both locations.

[2017-07-06 23:16] #51 closed

[2017-07-06 23:17] philipnewcomer commented on #51
Yup, looks like that did the trick. Thanks again @markuswolff.

[2017-07-06 23:39] philipnewcomer commented on #61
Resolved in https://github.com/Pilothouse-App/docker-image-php/commit/581e196b12932a4329cfe38dd3a0df910295fe9e.

[2017-07-06 23:39] #61 closed

[2017-07-07 10:53] philipnewcomer commented on #65
@AaronHolbrook I've added the `ncurses` package to the PHP docker images (#51). Run `pilothouse compose pull` to download the latest images, then `pilothouse down`, `pilothouse compose down` and `pilothouse restart` and see if that resolves your formatting issue.

[2017-07-07 11:10] #69 closed

[2017-07-07 11:12] philipnewcomer commented on #69
The Googles indicate that `/System/Library/OpenSSL/openssl.cnf` is the correct path. `/etc/ssl/openssl.cnf` may have been installed by a Homebrew package or something. I've simply changed the path rather than attempting to try both locations.

[2017-07-07 11:17] philipnewcomer opened #70 "Windows Support"
Need to test Pilothouse on Windows systems and resolve any incompatibilities, after converting PH to NodeJS (#68).

[2017-07-07 11:17] philipnewcomer opened #71 "Linux Support"
Need to test Pilothouse on Linux systems and resolve any incompatibilities, after converting PH to NodeJS (#68).

[2017-07-07 11:22] AaronHolbrook commented on #65
Do you want to update the composer wp-cli package also?

[2017-07-07 11:26] AaronHolbrook commented on #65
Yes! This fixed it!

![](http://d.pr/i/SaID4w/kxThxSB9+)

Thanks @markuswolff and @philipnewcomer !

[2017-07-07 11:26] #65 closed

[2017-07-07 11:29] philipnewcomer commented on #65
Cool.

Done in https://github.com/Pilothouse-App/pilothouse/commit/e9b1219eb76652048d9b910bea1c07ad6307178f

[2017-07-07 11:31] AaronHolbrook commented on #65
Excellent!

[2017-07-07 13:34] #57 closed

[2017-07-07 13:34] philipnewcomer commented on #57
Updated in develop branch as this is a breaking change

[2017-07-07 13:55] #60 closed

[2017-07-07 14:39] AaronHolbrook commented on #57
What do you anticipate this breaking?

[2017-07-07 18:28] #39 closed

[2017-07-08 11:22] philipnewcomer commented on #57
It's breaking because there are still some edge cases that need to be worked out with Composer. However, I realized that since I implemented the containerized Composer command as `pilothouse composer [...]` so that we can still use Composer on the host to work around those edge cases, It's not really breaking under normal use. So I've committed this to master.

The containerized Composer command i

[2017-07-08 11:25] philipnewcomer commented on #57
Also make sure to run `pilothouse down`, `pilothouse compose down`, `pilothouse compose pull` and `pilothouse up` to download and activate the latest Docker PHP builds that have the containerized Composer.

[2017-07-08 12:08] philipnewcomer commented on #66
@AaronHolbrook is this still happening after updating Docker?

[2017-07-09 20:43] mrbobbybryant opened #72 "Composer Install"
I tried to install this on a new computer but had issues running composer. After taking a look I noticed the repo no longer has a composer.json file.

I went ahead and ran composer up, however it had a number of issues running.

[code]

Looks like I need to run composer install in order for the WordPress stuff to be created. Currently it is creating empty sites.

[2017-07-10 00:16] philipnewcomer commented on #72
@mrbobbybryant It sounds like you are on the develop branch? There are some breaking changes in-progress right now on develop and some things are broken there, WP-CLI included. You should be using the master branch for production work.

BTW: Composer isn't used anymore to install WP-CLI on the host on either the master or develop branches, which is why there is no composer.json file.

[2017-07-10 20:21] AaronHolbrook commented on #66
No, not as much

On Jul 8, 2017, 7:08 AM -0500, Philip Newcomer <notifications@github.com>, wrote:

[2017-07-14 12:07] #72 closed, assigned to nobody

[2017-07-21 21:19] philipnewcomer commented on #68
Merged to develop in e21795872aab1b171728bce0989b6a8ff70520f9

The NodeJS-based Pilothouse is ready for testing.

[2017-07-21 21:19] #68 closed

[2017-07-21 21:20] #66 closed

[2017-07-21 21:20] philipnewcomer commented on #62
Resolved in the NodeJS rewrite branch.

[2017-07-21 21:20] #62 closed

[2017-07-27 23:02] philipnewcomer commented on #44
I want to get this wrapped up so I decided to just use a fairly simple icon of a ship's wheel. I found a GPL-licensed icon at https://www.iconfinder.com/icons/1054980/steering_wheel_wheel_icon, which I tweaked just a bit, so that's what I'm going to be using, along with the text "Pilothouse" in Merriweather:

![logo](https://user-images.githubusercontent.com/1446874/28695589-135a3ff8-72fe-11e7-9ae

[2017-07-27 23:02] #44 closed

[2017-08-31 11:14] AaronHolbrook opened #73 "Artisan help command doesn't run accurately"
If I run `artisan help <command>` I should get something like this:

![](http://d.pr/i/JUfLov/9mwiW0EI+)

However when running it through pilothouse I get:

![](http://d.pr/i/N6u6RT/kzkgvLRM+)

[2017-09-03 12:22] #73 closed, assigned to nobody

[2017-09-03 22:58] philipnewcomer commented on #67
This isn't something that the [docker logs](https://docs.docker.com/engine/reference/commandline/logs/) facility currently provides the ability to do. Closing for now due to lack of required support in Docker, but would definitely reexamine if Docker added the required support to request only logs of a certain type.

[2017-09-03 22:58] #67 closed

[2017-09-12 15:29] mrbobbybryant opened #74 "Change db host in Laravel env."
I had to change this from `mysql` to local host in order for the `php artisan migrate` command to work. I changed it to `127.0.0.1`.

[2017-09-12 16:06] philipnewcomer commented on #74
@mrbobbybryant if the DB host is changed to `localhost`, then Laravel won't be able to connect to the database server during a normal web request, so that's not something we want to change.

You should be using the Pilothouse-provided `artisan` command which runs `php artisan {command}` inside the Docker container (just like the Pilothouse-provided `wp` command), instead of using your host's PHP t

[2017-09-12 16:06] #74 closed, assigned to nobody

[2017-09-12 16:26] mrbobbybryant commented on #74
I too noticed that after making that change everything died a slow horrible death. This explains so much. Thanks

[2017-09-15 13:17] chanceymathews opened #75 "With pilothouse wp command, --help argument is captured by pilothouse and not wp command"
Hello,

First off, thank you so much for making this wonderful tool. It has been a great help to me.

One issue I've run into is that when calling `wp --help` the Pilothouse command catches and handles the `--help` flag, so I can no longer read the help for individual WP-CLI commands.

Would a possible solution could be showing the Pilothouse help output followed by that from WP-CLI? If so, I coul

[2017-09-16 11:02] philipnewcomer commented on #75
Are you using the Node-based version of Pilothouse (develop branch, the one hosted on NPM)? If so, this has been fixed in the 0.8.0 release. If you're still on the old bash-based version of Pilothouse, I'd recommend updating, the Node-based version is much improved! See https://github.com/Pilothouse-App/Pilothouse/wiki/Upgrading-to-the-NodeJS-based-version-of-Pilothouse

[2017-09-19 14:42] chanceymathews commented on #75
Thank you! I didn't realize how far behind I was. I will get it upgraded.

[2017-09-19 14:42] #75 closed, assigned to nobody

[2017-09-19 16:01] chanceymathews opened #76 "Mount denied errors in 0.9.0 on Mac"
Hello,

Got errors running `pilothouse up` after upgrading to 0.9.0. It complains about the `/usr/local/lib/node_modules/pilothouse/nginx-default-site` mount path:

[code]

[Full output here.](https://gist.github.com/chanceymathews/4f79410436bff0abc58d8959e7ac00c5)

To be safe, I uninstalled, did `docker-compose rm` to delete any containers, and deleted the `.pilothouse` folder. Smae issue.

The p

[2017-09-20 16:06] #76 closed, assigned to nobody

[2017-09-20 16:10] philipnewcomer commented on #76
Thanks for the report @chanceymathews! This should be fixed in 0.9.2. You should now be able to remove the entry you added to the file sharing list in the Docker settings.

[2017-09-20 17:46] chanceymathews commented on #76
Confirmed working! Thank you!

[2017-09-27 11:05] AaronHolbrook opened #77 "Unhandled promise rejection warning"
![](http://d.pr/i/oQLx4O/3UubidM8+)

Trying to create a new project.

* WP setting
* Clone from repo
* PHP 7.0

This is Pilothouse Version: 0.7.1 running on Mac OS High Sierra (10.13).

[2017-09-30 15:23] fuhton opened #78 "Unknown MySQL server error"
Following the [installation instructions](https://github.com/Pilothouse-App/Pilothouse/wiki/Installation), I've attempted to create a new WordPress instance. After I've filled out all the options, I get the following Error - `ERROR 2005 (HY000): Unknown MySQL server host 'mysql' (-2)`. I've included all my responses to the prompts below. Let me know if there's something I missed from the instructi

[2017-09-30 15:39] philipnewcomer commented on #78
At what point are you seeing the error, is it while the `create` command is running, or during an action after it is completed? Can you post the entire output from the command?

[2017-09-30 15:42] fuhton commented on #78
[code]

[2017-09-30 17:03] philipnewcomer commented on #78
Open Kitematic (It should have been installed along with Docker) and verify that the `mysql` container is running. Also, just to double check, you did run `pilothouse up` first, didn't you?

[2017-10-01 13:26] fuhton commented on #78
So this error occurs during `pilothouse up`. The `mysql` container errors out pretty quickly.

[code]

[2017-10-01 17:36] fuhton commented on #78
I've tracked down the issue to an assumption that `mysql` is installed in a specific path `/var/lib/mysql`. I've forked and [pushed up a fix](https://github.com/fuhton/Pilothouse/commit/0ebc4b6ddf113b85cdd839c35d845414ef3b7f7e) that works for my homebrew installed version of mysql. Is there documentation or settings that allow overwriting of this path directly?

[2017-10-01 20:43] philipnewcomer commented on #77
I've not been able to reproduce this. I tried several times using the above settings (including cloning a repo) and I did not experience any errors. Does this happen every time for you, or was this a one-off occurrence?

[2017-10-01 20:54] philipnewcomer commented on #78
Hmmm, so it sounds like you were attempting to use a MySQL server running on your host OS instead of using the `mysql` container provided by Pilothouse? Can you describe what the use case is for doing this and why the Docker MySQL container that comes with PH doesn't suit your needs?

Although I'm certainly not opposed to making Pilothouse more configurable, the goal of Pilothouse is to have all s

[2017-10-02 01:15] fuhton commented on #78
So reviewing everything and the changes I made, I think I had originally downloaded a corrupted mysql volume. Adding in my local copy as a volume somehow has righted everything. When using the develop branch of this repo, I've confirmed that the mysql volumes used are the original and do not include my local install of mysql and that mysql initializes successfully. I'm not quite satisfied with how

[2017-10-02 01:15] #78 closed, assigned to nobody

[2017-10-02 11:03] AaronHolbrook commented on #77
Yes this consistently happens:

![](http://d.pr/i/ZsLii5/5NAAKOjR+)

Seems to only happen on WP type sites, regardless of if I clone a wp-content, after the wp setup begins.

[2017-10-03 11:14] philipnewcomer commented on #77
Looks like it's a network-related error. I suspect it's happening [here](https://github.com/Pilothouse-App/Pilothouse/blob/develop/utils/sites.js#L168) where I'm downloading and saving the Redis dropin from GitHub to the wp-content directory.

If you make the same HTTP request from the command line manually, does it fail?
[code]

Is there anything on your system that might be keeping Node from mak

[2017-10-03 11:17] philipnewcomer opened #80 "Add database export/import command"
It would be nice to have a command to do a bulk export or import of all MySQL databases. The databases could be saved to the individual site directories (alongside the config.yml file which may already exist), and should be able to be exported/imported on a site-by-site basis or a global (all sites) basis.

[2017-10-03 12:08] AaronHolbrook commented on #80
Yes. Please.

[2017-10-04 14:41] philipnewcomer opened #81 "Add ability to proxy Laravel storage directory from external URL"
Like the WordPress uploads directory proxying that already exists, we should be able to proxy the Laravel storage directory from production (or some external URL).

[2017-10-09 20:23] philipnewcomer commented on #80
also `create`/`drop`/`reset`

[2017-10-10 20:24] philipnewcomer opened #82 "Add reload command to refresh site settings without restarting PH"

[2017-10-11 14:59] tylercherpak opened #83 "Composer ssh git urls"
Private ssh git repos in composer can't be installed properly because the container doesn't have access to the ssh keys.

Pilothouse also prevents me from running composer on my host machine since it tries to forward the command to the container.

This could be resolved by changing the composer command to `pilothouse composer` instead of overriding the command.

[2017-10-11 15:11] tylercherpak commented on #83
Workaround for anyone having this issue:

Install composer.phar and use `php composer.phar` instead of the deafult composer command.

[2017-10-11 15:12] AaronHolbrook commented on #83
@tylercherpak I was having the same issue with composer on my host vs in Pilothouse - I was able to fix it by changing the order of my PATH and having the host composer be utilized first:

![](http://d.pr/i/C27ynZ/44Ri2TcQ+)

[2017-10-11 15:13] AaronHolbrook commented on #83
Also, you should start a second issue for the composer conflict as that is unrelated to ssh git repos.

[2017-10-11 16:10] tylercherpak opened #84 "Composer conflict with composer on host machine"
Composer command being forwarded to the container stops user from using composer on host machine.

We should update composer command to something like `pilothouse composer` to prevent conflicts.

Work around: use `php composer.phar` instead of `composer` command.

[2017-10-12 18:26] philipnewcomer opened #85 "Add ability to clone repo when setting up a new Laravel site"
Just like we can clone a repo for the WordPress wp-content directory, we should be able to clone a repo for the webroot on Laravel sites.

[2017-10-12 18:52] chanceymathews commented on #84
I also had issue with this. I think it would be kinder to not overwrite host versions of the wp and composer commands, since users can make aliases to the longer `pilothouse wp` and `pilothouse composer` commands if needed.

[2017-10-16 13:19] philipnewcomer commented on #84
Agreed. I will be removing the `composer` Node command. macOS High Sierra comes with PHP 7.1 installed by default, which resolves the issue I was working around by running Composer inside the Docker container. (macOS before High Sierra came with PHP 5.6, which caused Composer to error out when a dependency required PHP > 5.6.)

[2017-10-16 15:04] AaronHolbrook commented on #84
Yay!

[2017-10-18 15:42] mrbobbybryant opened #86 "Unable to process Cron event"
Cron events do not seem to be firing. I've used WP Crontrol to see what is going on and to manually run cron events, but nothing works. Running `wp cron test` returns the following
[code]

[2017-10-18 22:56] mrbobbybryant commented on #86
It is also worth mentioning that I get the same error when call `wp_remote_get` and passing it an image url to my local site.

Seems like we need to expose port 80 so that it can be accessed? idk

[2017-10-24 01:12] #84 closed, assigned to nobody

[2017-10-24 01:17] philipnewcomer commented on #84
@tylercherpak @chanceymathews @AaronHolbrook the helper commands are removed in `0.10.0`. You can still run all of the commands in the Docker container by prefixing them with `pilothouse`, e.g. `pilothouse wp {command}`.

Also note that commands which for example use `mysqldump` like the WP-CLI database import/export commands cannot be run on the host unless you have the `mysql` and `mysqldump` CL

[2017-10-24 23:22] philipnewcomer commented on #77
@AaronHolbrook I still have not been able to reproduce this, are you still experiencing it?

[2017-10-24 23:35] philipnewcomer commented on #83
Now that #84 is resolved and Composer is no longer being forwarded to the Docker container, I think this issue can be closed.

Currently it's still possible to run Composer in the Docker container, but now that PHP 7 is included in macOS (and can be easily installed using Homebrew on older OSs) I don't see any reason to do so. I'll probably remove Composer in Docker completely at some point, once

[2017-10-24 23:35] #83 closed, assigned to nobody

[2017-10-25 11:04] AaronHolbrook commented on #77
That Curl request does not fail.

[2017-10-25 11:05] AaronHolbrook commented on #77
Yep, still happening: ![](http://d.pr/i/JMulwi/MmUHGk9z+)

[2017-10-25 11:07] AaronHolbrook commented on #83
FYI, this issue is more specifically related to private ssh in composer

[2017-10-25 11:39] philipnewcomer commented on #77
I know you use Little Snitch; are you sure it is not blocking outgoing connections from the Pilothouse script or any of its dependencies?

[2017-10-25 11:44] AaronHolbrook commented on #77
Little snitch is completely removed from my system

[2017-11-09 20:04] magnificode commented on #70
Hey @philipnewcomer! Tyler sent me your way after he gave the 10up FEE team a rundown on docker. I'm one of the few weirdos trying to use Windows / WSL as my development environment. I'd love to help with this ticket and tackle any troubleshooting that might be required (assuming you're looking for help that is).

Let me know!

[2017-11-10 20:36] AaronHolbrook opened #87 "SSL Warning"
Receiving an SSL warning:

![](http://d.pr/i/qbSKIX/5dQSRMVi+)

[2017-11-10 23:53] philipnewcomer commented on #87
What are the specifics of the warning message? If you click "show details", what is the problem?

[2017-11-12 23:55] philipnewcomer commented on #70
Hi @magnificode, thanks for the offer! I am looking for help on this. I'd welcome your help in testing Windows support (when it's ready), or if you feel up to it, working on the following issues which will need to be resolved for Windows support.

I think most of the functionality should work on Windows out-of-the-box with little changes required thanks to the fact that it's written in Node, with

[2017-11-13 00:53] philipnewcomer commented on #77
For some reason, the connection to github.com is being reset. You aren't behind a proxy are you? Looks like the request library in use here doesn't support proxies.

I put together a simplified test case for this. Try running this test Node CLI app on your system and see if you get the same error. If so, it will be much simpler to debug. https://gist.github.com/philipnewcomer/103b3080792183b7f28c8

[2017-11-13 11:28] AaronHolbrook commented on #87
![](http://d.pr/i/0xpeCS/20euqcEg+)

![](http://d.pr/i/8FKQhP/1AdEknRy+)

This happens regardless of browser.

[2017-11-16 22:30] philipnewcomer opened #88 "After reboot and PH up, Nginx service does not start"
After a reboot and running `pilothouse up`, the Nginx container is sometimes not running. It can be restarted manually. Investigate why.

[2017-11-23 22:10] #87 closed, assigned to philipnewcomer

[2017-11-23 22:10] #88 closed, assigned to philipnewcomer

[2017-11-23 22:10] philipnewcomer commented on #88
This should be fixed. After updating to Pilothouse 0.11.1, run `pilothouse down`, then `pilothouse compose rm -f nginx`, then `pilothouse up`.

[2017-11-23 22:11] philipnewcomer commented on #87
@AaronHolbrook this should now be fixed in 0.11.0. Just update and restart PH.

[2017-11-28 16:06] philipnewcomer opened #89 "Default PHP Version directive in site's config.yml is ignored"

[2017-12-12 15:04] AaronHolbrook opened #90 "Allow caching to be defined at project creation"
As discussed, there is some confusion added to the development process when caching is always enabled by default.

I think it would help alleviate issues if there was an option to enable/disable on project creation.

[2017-12-14 13:28] philipnewcomer opened #91 "Add ability to specify location of the WP uploads dir for the uploads proxy"
Some sites have their uploads directory located somewhere other than the default. We should be able to tell the WP uploads proxy feature in pilothouse what that alternate path is, so that uploads can be proxied from non-default locations.

[2017-12-14 21:48] philipnewcomer opened #92 "Add PHP 7.2 support"
PHP 7.2 is released

[2017-12-21 10:08] spitlo opened #93 "Feature request: "Proxy" site type"
I really love how easy it is to set up WordPress sites with Pilothouse, but I also work with Node and Python based projects, and every time I switch to working on one of them, I have to shutdown Pilothouse and start my local Nginx to proxy these projects (to avoid port 80 conflicts). I suggest Pilothouse should have a "proxy" site type, where I could just enter the local hostname and the port on l

[2017-12-22 01:55] philipnewcomer commented on #77
@AaronHolbrook any update on the results from your test from the Gist above?

[2017-12-22 19:36] philipnewcomer commented on #93
Yeah I think this could be useful to support things like Node or Python that aren't natively supported in Pilothouse. For others just tuning in, the benefits would be that one could set up a Node/Python/whatever site using whatever server the language provides, and access it using a pretty local URL like `mynodesite.dev` instead of `http://localhost:8000` or whatever the third-party server gives y

[2018-01-06 20:36] chanceymathews commented on #86
The issue here is that the PHP container doesn't know to resolve the site's domain to the Nginx container's IP address. This prevents WP from making HTTP requests to itself, because it tries using the site's domain but there's nothing that routes that back to Nginx.

There seem to be two ways to do this:

1. [Use network links in Docker Compose](https://docs.docker.com/compose/networking/#links)
2

[2018-01-07 02:30] philipnewcomer commented on #86
@chanceymathews you're absolutely right about why this is happening. I'm actually working on a fix for this right now, and I have it working locally. I'm adding entries to the hosts file, rather than using network links, since a container that uses links can't be extended, which is something I need to do for the PHP containers.

There is also an issue where when using SSL, the Pilothouse self-sign

[2018-01-07 13:16] #86 closed, assigned to philipnewcomer

[2018-01-07 13:16] #89 closed, assigned to philipnewcomer

[2018-01-07 13:19] philipnewcomer commented on #86
WP cron events should now be working in `0.11.2`.

[2018-01-08 14:11] philipnewcomer opened #94 "Change default local site TLD"
Since Chrome [is now forcing all `.dev` domains to use HTTPS](https://ma.ttias.be/chrome-force-dev-domains-https-via-preloaded-hsts/), we should change the default TLD for local sites to something else, I propose `.localhost`. However, this new default TLD should be configurable in the Pilothouse config file, as there does not appear to be a consensus in the industry on what the new local host TLD

[2018-01-08 14:29] AaronHolbrook commented on #94
Agreed - and it's going to take a while to switch all existing sites/etc and change our frame of mind

[2018-01-10 18:26] csloisel opened #95 "padEnd is not a function error on pilothouse up"
Just updated to 0.11.2 and i'm not getting this error:

[code]

[2018-01-10 22:41] philipnewcomer opened #96 "Verify Node version when running Pilothouse"
Whenever Pilothouse is run, it should verify that current Node version satisfies the minimum requirement, to avoid ugly errors [like this](https://github.com/Pilothouse-App/Pilothouse/issues/95).

[2018-01-10 22:42] philipnewcomer commented on #95
@csloisel I suspect that your version of Node is outdated. The current LTS release of Node supports `String.prototype.padEnd`. Compare your version against http://node.green/#ES2017-features-String-padding-String-prototype-padEnd.

I am going to add a check to Pilothouse to verify that the Node version currently being used is sufficient.

[2018-01-10 22:59] #96 closed, assigned to philipnewcomer

[2018-01-11 00:54] philipnewcomer commented on #77
Any update ^ @AaronHolbrook?

[2018-01-11 01:51] #93 closed, assigned to nobody

[2018-01-11 01:52] philipnewcomer commented on #93
@spitlo proxy site type has been added to `0.12.0`.

[2018-01-11 14:27] philipnewcomer opened #97 "Update Docker internal hostname docker.for.mac.localhost"
As per the most recent Docker update release notes, `docker.for.mac.host.internal` should be used instead of `docker.for.mac.localhost`, which is deprecated.

[2018-01-11 14:29] philipnewcomer commented on #94
I saw in the most recent Docker update release notes that "there is an RFC banning the use of subdomains of localhost". We may want to reconsider the default local site TLD of `.localhost`.

<img width="498" alt="screen shot 2018-01-11 at 9 29 04 am" src="https://user-images.githubusercontent.com/1446874/34830459-e43a5360-f6b1-11e7-99c7-b23fc76fda39.png">

[2018-01-12 14:23] csloisel commented on #95
@philipnewcomer Thanks, That was the issue!

[2018-01-12 14:23] #95 closed, assigned to nobody

[2018-01-13 00:10] #90 closed, assigned to philipnewcomer

[2018-01-14 14:50] spitlo commented on #93
Great news, thank you! Will check it out when I return from vacation.

[2018-01-15 00:46] #92 closed, assigned to philipnewcomer

[2018-01-15 00:46] #91 closed, assigned to philipnewcomer

[2018-01-15 00:46] #97 closed, assigned to philipnewcomer

[2018-01-16 15:46] chanceymathews commented on #86
This is great! Thank you!

[2018-01-19 00:07] philipnewcomer commented on #94
`.localhost` is definitely going to be a problem. Subdomains of `localhost` will always be resolved directly to 127.0.0.1 by the operating system, bypassing any hosts file entries. That would be an advantage on the host, eliminating the need for hosts file entries. However, that would also make it so that PHP scripts would be unable to connect back to themselves through the Nginx container, since

[2018-01-20 01:07] #81 closed, assigned to philipnewcomer

[2018-01-20 01:07] #85 closed, assigned to philipnewcomer

[2018-01-20 01:07] #77 closed, assigned to nobody

[2018-01-25 20:31] Jaace commented on #94
I have started using `.test` for my sites.

[2018-01-25 20:37] Jaace opened #98 "Ability to set the IP for sites installed with Pilothouse"
I'm wondering if it's feasible to allow an individual to change the default 127.0.0.1 IP for Pilothouse sites to any IP, like, say `192.168.3.105`? Similarly to how VVV let's you modify the IPs used for your sites.

I noticed that this is hard-coded in run.js and sites.js: https://github.com/Pilothouse-App/Pilothouse/search?utf8=%E2%9C%93&q=127.0.0.1&type

[2018-01-26 00:23] philipnewcomer commented on #98
It wouldn't be too difficult to make that user-configurable in PH. However, can you describe the use case for doing this?

[2018-01-26 14:38] AaronHolbrook commented on #94
I dislike that name myself as it is not representative of what I’m using the site for.

I.e. I’m not testing something, I’m developing something - I still prefer .dev if I can help it.

Whatever the case is, I think making this modifiable by the user makes sense so we can allow people to adjust this should there be any issues down the road.

On Jan 25, 2018, 2:31 PM -0600, Jason Boyle <notificatio

[2018-01-26 14:54] tylercherpak commented on #98
Correct me if I am wrong, would this allow a user to run multiple sets of containers?

If so, this could be useful when a project has its own development environment and you don't want to run docker-compose down/up to switch between project.

[2018-01-26 23:47] Jaace commented on #98
@philipnewcomer @tylercherpak It turns out my specific use-case is solvable in a different way. My issue was that I was trying to get a Vagrant box to speak to my sites created with Pilothouse. Since they are 127.0.0.1, I was flabbergasted on how to get Vagrant to be able to reference them.

It turns out having NAT enabled on the Vagrant machine and referencing the site on the Vagrant `/etc/hosts`

[2018-01-26 23:47] #98 closed, assigned to nobody

[2018-01-27 00:05] philipnewcomer commented on #98
At this point PH isn't designed to support multiple sets of containers, although I wouldn't rule that out for some point down the road. I do know that supporting multiple sets of containers would require much more in-depth changes to PH than just changing `127.0.0.1` to something else.

[2018-02-12 14:50] philipnewcomer opened #99 "When creating a new WP site, use an HTTPS URL when domain extension is .dev"

[2018-02-28 12:37] AaronHolbrook opened #100 "Allow plain php cli commands to trigger xdebug"
Similar to how you can trigger xdebug via `wp` or `artisan`:

`ph php ./script.php --xdebug`

[2018-03-06 19:18] philipnewcomer opened #101 "When creating a new WP site, create a wp-cli.yml file in the site directory"
When creating a new WP site, Pilothouse should create a wp-cli.yml file in the site root directory (one level up from htdocs), pointing WP-CLI to the WP files in htdocs. This will allow WP-CLI to be run from outside of the webroot directory on the host system.

This already works when using the `pilothouse wp` command, which automatically runs the command from the htdocs directory of the site if y

[2018-03-06 20:11] philipnewcomer opened #102 "Add "Update" command to update Pilothouse"
- Update the Node package
- Pull the latest docker images

[2018-03-06 20:13] philipnewcomer opened #103 "Prompt user to update Pilothouse"
Along with #102, prompt the user if there is an updated version of Pilothouse available, probably whenever/before the `up` command is run. Prior to enabling the auto update check, the user should be asked whether they want to automatically check for updates.

[2018-03-19 02:22] richhauck opened #104 "Disable HTTPS"
Because the SSL certificate is self-signed, I've found that Firefox on Mac (I'm running Developer Edition 60.0b4 on macOS 10.13.3) won't permit viewing of the Pilothouse site.

[2018-03-22 00:35] philipnewcomer commented on #104
You can add an exception to Firefox so that it will permit the Pilothouse self-signed cert. Just click on Advanced > Add Exception > Confirm Security Exception from the error page. Firefox does not use the macOS certificate store, so the exception that Pilothouse adds at the operating system level isn't recognized by Firefox.

[2018-03-22 00:35] #104 closed, assigned to nobody

[2018-03-26 16:49] richhauck commented on #104
Can't do that. Here's what Firefox says:

'This site uses HTTP Strict Transport Security (HSTS) to specify that Firefox Developer Edition may only connect to it securely. As a result, it is not possible to add an exception for this certificate.'

HSTS is not being enforced in my site code.

[2018-03-26 21:23] philipnewcomer commented on #104
Ah, it looks like I was testing on an older version of Firefox Developer Edition which still left me add an exception for self-signed certificates on sites where HSTS is enabled. I hadn't started Firefox Developer Edition in a while. The current version of FFDE does not allow this.

Exception or not, it's not possible to disable HTTPS for `.dev` sites, which you originally asked about. That's the

[2018-03-26 21:24] philipnewcomer commented on #104
Related: #94

[2018-04-24 15:26] philipnewcomer opened #105 "Add command to enable/disable object cache"
For WordPress sites, even though we [have the option at site creation](https://github.com/Pilothouse-App/Pilothouse/issues/90), it would be convenient to be able to run a command on an existing site to quickly enable or disable the object cache, and to check its status:
`pilothouse object-cache enable`
`pilothouse object-cache disable`
`pilothouse object-cache status`

[2018-05-01 11:21] philipnewcomer opened #106 "SSL error in Firefox: invalid encoding of an integer"
<img width="921" alt="screen shot 2018-05-01 at 7 21 20 am" src="https://user-images.githubusercontent.com/1446874/39471252-432b1116-4d10-11e8-8c3d-7e2ff0cdfba4.png">

[2018-06-26 19:52] march23 opened #107 "Pilothouse Up breaks trying to load MySql"
Hi
When I try to install Pilothouse it complains trying to load/connect MySql, not sure why since docker compose is using Mariadb

check screenshot below

<img width="359" alt="screen shot 2018-06-26 at 2 51 44 pm" src="https://user-images.githubusercontent.com/251035/41935794-94ea568a-7950-11e8-9597-2d92864e7c9a.png">

[2018-06-26 20:15] philipnewcomer commented on #107
In this case the name "MySQL" is hard-coded, but it refers to the database server Docker container in general whether that happens to be MySQL or MariaDB. But that's beside the point.

So the MySQL container could not be started. Open up Kitematic (which should have been installed along with Docker) and look at the logs for the `pilothouse_mysql_1` container. That should indicate why the MySQL con

[2018-06-27 17:11] philipnewcomer opened #108 "Allow WordPress to handle robots.txt"
Currently Nginx does not pass requests for robots.txt to WordPress, resulting in a 404 error for robots.txt on local sites. Nginx should be configured to pass requests for robots.txt (and any other applicable text files) to WordPress.

[2018-07-06 15:30] philipnewcomer opened #109 "MySQL container fails to start with "unknown variable 'innodb_file_format=barracuda'""
Mariadb 10.3 has removed the `innodb_file_format=barracuda` configuration variable. New Pilothouse users downloading the latest Mariadb container (10.3) would get this error, while existing users still using Mariadb 10.2 would not be affected.

Should be fixed by removing `innodb_file_format=barracuda` from the configuration file, since Barracuda is now the default.

[2018-07-06 15:46] #108 closed, assigned to philipnewcomer

[2018-07-06 15:46] #109 closed, assigned to philipnewcomer

[2018-07-06 16:32] march23 commented on #107
Hi @philipnewcomer  I check the logs on Kitematic and I found:

```mysqld: unknown variable 'innodb_file_format=barracuda'```

I read a post regarding this

"innodb_file_format was deprecated in MariaDB 10.2 and removed in MariaDB 10.3.
Since MariaDB 10.2.2 the default is Barracuda, so there is no need to set this variable"

I guess a fix is coming on your last closed  [issue](https://github.com/P

[2018-07-06 16:37] philipnewcomer commented on #107
Yes, I just released a fix for this in version `0.14.1`. You can update to the latest version with this command: `npm update -g pilothouse`

[2018-07-06 16:37] #107 closed, assigned to nobody

[2018-08-13 17:20] cjkoepke opened #110 "Error: Coping nginx.conf template to site directory"
I need to increase the max file size upload for a site. I updated the `php.ini` file, but when trying to create a local site's custom `nginx.conf` configuration, I get this error (without any changes, and when copied from the template directory):

[code]

This happens with no manipulation to the file, and all I'm wanting to add is:

`client_max_body_size [X]M;`

[2018-08-13 20:51] cjkoepke commented on #110
@philipnewcomer More information:

[code]

This seems to be the problem as it terminates starting NGINX. Here's my `nginx.conf` file:

[code]

[2018-08-14 23:12] philipnewcomer commented on #110
@cjkoepke I believe you're trying to create a custom Nginx configuration for a specific site (as opposed to modifying the global Nginx configuration), is that correct?

When you have a file named nginx.conf in a local site's directory, it is used as-is, meaning that the placeholders that are present in the template are not interpreted in the override file. So in your case, since `{{server_name}}`

[2018-08-15 13:48] cjkoepke commented on #110
@philipnewcomer Thank you, I didn't realize it wasn't dynamic.

[2018-08-15 13:48] #110 closed, assigned to nobody

[2018-08-15 21:24] philipnewcomer opened #111 "Allow placeholders in site-specific Nginx configuration file overrides"
From #110, it would be helpful if placeholders could be used in configuration file overrides like they are in the original template.

[2018-08-15 21:24] philipnewcomer commented on #110
I can see how it might be useful to be able to use placeholders in the configuration override file, and how it's unintuitive that they can't currently be used there. So I've created an issue (#111) to add this feature.

[2018-08-16 21:58] #111 closed, assigned to philipnewcomer

[2018-09-07 11:25] AaronHolbrook opened #112 "Local domain request fails (from a sibling local site)"
Attempting to talk to a sibling domain on local install fails with the following message:

[code]

I believe this is due to the local host not being able to resolve the domain name of the other site.

Example: while on `wordpress.dev`, if I make a `wp_remote_get` call to `another-site.dev` that exists, it will fail.

[2018-09-07 11:48] philipnewcomer commented on #112
@AaronHolbrook this should already have been fixed in `0.14.2`. Can you confirm what version you're using?

[2018-09-07 14:24] AaronHolbrook commented on #112
I'm using `0.14.0`.

I'll upgrade and report back.

[2018-09-07 15:08] AaronHolbrook commented on #112
I updated to `0.14.2` and the same error still persists:

![](https://cl.ly/7fbfef610ddb/Image%202018-09-07%20at%2010.08.09%20AM.png+)

It even seems to do the same thing on port 80 for non-ssl:
![](https://cl.ly/f750a562ff6a/Image%202018-09-07%20at%2010.07.34%20AM.png+)

[2018-09-07 15:29] AaronHolbrook commented on #112
Maybe we can map the hosts file from the host machine?

https://stackoverflow.com/questions/32079364/how-can-you-make-the-docker-container-use-the-host-machines-etc-hosts-file

[2018-09-07 17:48] philipnewcomer commented on #112
I've had a solution in place for allowing PHP to connect to local sites for quite some time, which except for your case at the moment, works fine. So I don't see a need to replace that with something else just yet. Besides, simply copying the hosts file entries from the host into the PHP container wouldn't work since the domains point to `127.0.0.1`, which when inside the PHP container, would just

[2018-09-10 12:23] AaronHolbrook commented on #112
Looks like it's a limit on the alias length: https://www.uow.edu.au/~blane/netapp/ontap/nag/networking/concept/c_oc_netw_maintaining_host_file_limits.html

[2018-09-10 12:46] philipnewcomer commented on #112
Turns out Pilothouse was correctly adding the needed hosts file entries to the PHP container's `hosts` file. However, each domain was added as an alias of a single hosts file entry, and apparently there is a limit of 34 aliases per hosts file entry (line). Thus, any aliases after the 34th were being ignored. In `0.14.3` I've updated Pilothouse to [add a new hosts file entry for each domain](https:

[2018-09-10 12:46] #112 closed, assigned to nobody

[2018-09-10 15:13] AaronHolbrook commented on #112
Confirmed this fixed the issue

[2018-11-01 21:52] AaronHolbrook opened #113 "bcmatch package required by nova not available"
Could we add the php package bcmath to the standard for all php containers @philipnewcomer ?

[2018-11-01 21:52] AaronHolbrook commented on #113
https://stackoverflow.com/questions/53011581/laravel-nova-permissions-plugin

[2018-11-01 22:41] philipnewcomer commented on #113
Already added in the PHP images repo: https://github.com/Pilothouse-App/docker-image-php/commit/a5d2e2be3b046493c89429376a6848b18f5955a0

Run `pilothouse compose pull` to pull the latest PHP images down to your system.

[2018-11-01 22:41] #113 closed, assigned to nobody

[2018-11-02 11:30] AaronHolbrook commented on #113
Thanks!

[2018-11-02 11:37] AaronHolbrook commented on #113
Yep that did the trick!

[2018-11-19 16:23] liciniofs opened #114 "Error on pilotehouse up -> Windows"
I get the following error:

[code]

[2018-11-19 23:02] philipnewcomer commented on #114
@liciniofs unfortunately Pilothouse doesn't support the Windows platform yet. I'd love to support Windows eventually, but so far it's macOS-only. I already have [an issue opened for Windows support](https://github.com/Pilothouse-App/Pilothouse/issues/70), and I'll add this report to that thread.

[2018-11-19 23:02] #114 closed, assigned to nobody

[2018-11-22 16:02] liciniofs commented on #70
Hi Philip, I've been playing with the code and I added the following condition in environment.js and got it working in Windows. :)
[code]

[2018-11-22 16:23] liciniofs commented on #70
Hi @philipnewcomer I've been playing with the code and got pilothouse working with Windows by changing two files:

environment.js : where I added the following condition:

[code]

and docker-compose.yml on templates/run by switching all ```"``` to ```'```

Hope it helps! :)

Edit: tried creating a site and had issues with ```Sites``` path. If you want I can try working in this and creat a PR. Let

[2018-11-25 20:23] spitlo opened #115 "Compatibility with Docker Compose 1.23.0+"
Since 1.23.0 ([release notes](https://github.com/docker/compose/releases/tag/1.23.0)), Docker Compose adds a hash at the end of container names, breaking Pilothouse functionality (more specifically `getContainerInternalIp`).

I was able to fix this locally by getting container name from `docker ps`, but I'm not sure that is the best way to go about it.

Anyhow, my local, working version of `getCon

[2018-11-26 12:29] #115 closed, assigned to nobody

[2018-11-26 12:33] philipnewcomer commented on #115
Thanks for the heads up @spitlo. I've released `0.14.4` which should resolve this issue.

[2018-11-26 12:39] spitlo commented on #115
Works perfectly, thanks!

[2018-11-27 00:23] philipnewcomer commented on #70
@liciniofs if you'd like to create a PR, that'd be great. However, Windows support will require more than just fixing paths. I've detailed in my previous comment on this ticket what needs to be done to support Windows, the biggest blocker being the SSL certificate stores. Obviously macOS keychain doesn't exist on Windows so we'll need to add the Pilothouse SSL certificate to the Windows store when

[2018-12-17 15:49] philipnewcomer opened #117 "Check if Docker is running before attempting to start Pilothouse"
If Docker is still starting up (e.g. after a reboot) while `pilothouse up` is run, there is a series of errors "ERROR: Bad response from Docker engine". We should check whether Docker is ready before attempting start the Pilothouse containers.

[2018-12-17 20:31] Faison commented on #71
Hi @philipnewcomer ,

I'm working on setting this up on Linux Mint 18.1. I'll let you know how it goes and if I needed to do anything strange to get it to work.

[2018-12-18 20:03] Faison commented on #71
Just documenting a couple of things I'm working on troubleshooting:

---

When running `pilothouse up`. I'm first asked to enter my password, then two weird messages show up before docker starts up the containers:
[code]
I haven't determined what's causing this yet.

---
When running `pilothouse create`, choosing wordpress, php 7.2, object cache on, and no repo for the wp-content directory, I get

[2018-12-18 20:32] Faison commented on #71
Hi @philipnewcomer ,

Looks like the first issue I had (the `sudo: security: command not found` message) is caused in [`commands.regenerateHTTPSCertificate()`](https://github.com/Pilothouse-App/Pilothouse/blob/ffc234c77cdd6d1de50174a800ea38d8442f484f/utils/commands.js#L85-L144). You're using the OSX command `security`, which linux doesn't have. Are you adding self-signed certs to the OSX keychain

[2018-12-19 12:11] philipnewcomer commented on #71
@Faison thanks for tackling this issue.

You are correct that the error about the `security` command is occurring because we're trying to add the certificate to the macOS keychain, which obviously doesn't exist on Linux. As part of Linux support, we'll need to determine whether there is some sort of an equivalent of the macOS keychain or a global certificate store which we can add the generated ce

[2018-12-19 21:01] Faison commented on #71
@philipnewcomer Thank you for the direction on the file permissions error, I'll look to see if there's a directory that just works for Linux. As for the directory `/var/www/html/sites/`, that's the directory in the docker container. The docker-compose.yml file has this in its list of `volumes`:
[code]

I also pointed pilothouse to another directory further in my home directory, but without any suc

[2018-12-21 01:20] philipnewcomer commented on #71
@Faison here's the screenshot of the Docker sharing settings on macOS:
<img width="501" alt="screen shot 2018-12-20 at 8 19 54 pm" src="https://user-images.githubusercontent.com/1446874/50319312-b92e4900-0494-11e9-8ccd-e6110420090e.png">

[2018-12-21 04:40] Faison commented on #71
@philipnewcomer So it looks like there's a fancy directory sharing feature specific for OSX, which is likely why this just works for Mac and not for Linux. I tried a bunch of stuff with no luck.

But I did another search and found that 10up dealt with the issue on Linux in a few months ago: https://github.com/10up/wp-local-docker-images/commit/d51e31d44f0cba0e525bad01b639a2b2c1faf27d

I'm going to

[2018-12-28 13:26] philipnewcomer opened #119 "Add PHP 7.3 support"
PHP 7.3 has been released.

[2019-01-02 21:28] Faison commented on #71
@philipnewcomer So I determined the issue. I was trying to run pilothouse in a directory that is a part of a mounted drive. Turns out docker on linux would do shared drives properly if the directory is in a mounted drive.

Unfortunately, pilothouse still failed in a normal directory, but the 10up docker thing worked. It might be related to using alpine as the base image.

[2019-03-06 21:38] fabolivark commented on #110
Hey @philipnewcomer I'm getting the same error `Could not get Nginx container internal IP. Skipping adding local site hosts to PHP containers` but I'm not doing any custom configuration, I was working without problems with Pilothouse and after doing a restart the error came out and now Pilothouse starts all the containers and the error appears, you have some idea about this, I would really appreci

[2019-03-12 23:30] philipnewcomer commented on #110
@fabolivark the first step would be to check the Nginx container's error logs to see if you can find out more details about the error. Open up Kitematic (it should have been installed along with Docker), find the Nginx container, and check the logs there.

[2019-03-13 02:01] fabolivark commented on #110
Thanks @philipnewcomer I will review the logs

[2019-03-21 11:51] philipnewcomer opened #120 "Add database create command"
Should be able to run `pilothouse db create` at any time to create a site's database if it does not exist.

[2019-05-01 16:34] philipnewcomer opened #121 "Site directory with a space causes Nginx to abort"
If a site directory (or any directory in the sites directory) contains a space, the Nginx container aborts. Need to either filter out site directories with spaces in the name or escape them so they work.

[2019-05-06 20:18] philipnewcomer opened #122 "Nginx site-specific configuration: Allow loading partials from site directory"
I found myself wanting to add some site-specific nginx configuration for a site, such as rewrite rules. Currently we have to override the entire nginx server block for that site. We should be able to provide a file containing only our additions which would get integrated into the generated nginx config.

[2019-06-26 19:17] philipnewcomer commented on #106
Closing since I haven't seen that issue since then and no one else has reported it.

[2019-06-26 19:17] #106 closed, assigned to philipnewcomer

[2019-09-03 12:21] philipnewcomer opened #123 "Add mailcatcher to the host's hosts file"
Mailcatcher should be added to the host's hosts file so commands running outside the Docker container can connect to it.

[2019-11-01 16:16] GhostToast commented on #119
Would love to see this as 7.1 is being deprecated and 7.2 is reaching basic EOL end of year: https://www.php.net/supported-versions.php @philipnewcomer

[2019-11-01 22:25] philipnewcomer commented on #119
@GhostToast PHP 7.3 is actually already in Pilothouse. I just forgot to close this issue back when I added it. Run `npm i -g pilothouse` to update.

[2019-11-01 22:25] #119 closed, assigned to philipnewcomer

[2019-11-02 01:57] GhostToast commented on #119
@philipnewcomer awesome thanks!

[2019-11-07 23:29] philipnewcomer opened #126 "Only enable PHP containers for PHP versions that are in use by sites"

[2019-12-16 17:05] philipnewcomer opened #127 "Don't add the WP_CACHE_KEY_SALT constant to generated wp-config.php"
WordPress is now adding the WP_CACHE_KEY_SALT constant to new wp-config files, so Pilothouse should no longer be adding it.

[2019-12-27 23:56] philipnewcomer opened #128 "Pull/update containers automatically when Pilothouse is installed/updated"

[2019-12-28 00:48] philipnewcomer commented on #102
Closing in favor of a simple update notification with postinstall hooks to automatically update containers

[2019-12-28 00:48] #102 closed, assigned to philipnewcomer

[2019-12-28 13:50] philipnewcomer opened #129 "Change site-specific config file from config.yml to pilothouse.yml"
The name `config.yml` is too generic. For clarity, and also consistency with other software e.g. WP-CLI, the site-specific config file should be renamed to `pilothouse.yml`.

Backwards compatibility with existing local sites needs to be maintained.

[2019-12-28 14:07] philipnewcomer commented on #99
Closing as I'm not sure that there's any real benefit to be received from doing so.

[2019-12-28 14:07] #99 closed, assigned to philipnewcomer

[2019-12-28 20:47] #126 closed, assigned to philipnewcomer

[2019-12-28 20:47] #103 closed, assigned to philipnewcomer

[2019-12-28 20:47] #121 closed, assigned to philipnewcomer

[2019-12-28 20:47] #128 closed, assigned to philipnewcomer

[2019-12-28 20:47] #101 closed, assigned to philipnewcomer

[2019-12-28 20:47] #127 closed, assigned to philipnewcomer

[2019-12-28 20:47] #129 closed, assigned to philipnewcomer

[2019-12-29 00:48] #82 closed, assigned to philipnewcomer

[2020-01-01 23:07] philipnewcomer opened #130 "Keep pilothouse running across reboots"

[2020-01-01 23:08] #130 closed, assigned to philipnewcomer

[2020-01-22 19:05] wkirby commented on #76
Just want to flag this issue as something that I'd love to configure, or something that should be documented. If your home directory is not included in the Docker File Sharing resources, `pilothouse` will fail to come up.

[2020-01-25 22:34] philipnewcomer commented on #76
@wkirby this is something that can be configured. At https://github.com/Pilothouse-App/Pilothouse/wiki/Configuring-Pilothouse-Settings, there is documentation on how to change the directory that Pilothouse attempts to mount as the sites directory.

I've also created a [Common Issues](https://github.com/Pilothouse-App/Pilothouse/wiki/Common-Issues) page in the wiki where this is issue is described

[2020-01-26 02:00] wkirby commented on #76
@philipnewcomer thanks for the Common issues page — but the mount issue isn't the configurable option for `~/Sites` — though it is related. The issue is that `pilothouse` assumes that it can mount `~/.pilothouse` to get all the content out of `~/.pilothouse/_run`. This location is unaffected by the `sites_directory` config option.

I understand actually moving the content from `~/.pilothouse/_run`

[2020-01-27 00:30] philipnewcomer commented on #76
@wkirby I see, thanks for the clarification. I've updated the wiki page.

I'm curious about the reason you changed the defaults and don't (or didn't) have your user's home directory whitelisted in the Docker settings. Is this common practice? It should be possible to make that location configurable in Pilothouse with some work, but allowing that to be placed anywhere could introduce new permission

[2020-01-27 00:56] wkirby commented on #76
@philipnewcomer Totally fair question. The answer is that Docker for Mac has some pretty nasty performance problems with file syncing. By being judicious about the permitted mount locations, I can ensure that Docker is not mounting and watching directories unexpectedly.

As for how common this is, I honestly don't know — I do know there are at least a handful of articles out there that advise disa

[2020-02-20 19:32] cjkoepke opened #131 "Manifest Not Found"
I get this error when trying to boot `pilothouse`, even after uninstalling/reinstalling, updating, etc.

`ERROR: for php7-xdebug  b'manifest for pilothouseapp/php:7-xdebug-dev not found: manifest unknown: manifest unknown'`

[2020-02-20 19:33] cjkoepke commented on #131
More context:

[code]

[2020-02-20 21:33] cjkoepke commented on #131
Relevant piece of information: this only appears to be a problem when I specify using 7.0 on a site. From my `config.yml` file:

[code]

[2020-02-21 13:57] #131 closed, assigned to nobody

[2020-02-21 13:59] philipnewcomer commented on #131
@cjkoepke this should be resolved in `0.17.1`.

[2020-03-10 11:25] AaronHolbrook opened #132 "Feature request: change default option for new site"
I don't think I've ever used the `php` or `proxy` options for a new site - I think these options should be last.

I think they should be ordered by the frequency of what we need in new sites (mainly Laravel/WordPress)

[2020-09-28 08:37] guedesleandro opened #135 "Creating name of local site with dots ".""
If you try to create a local site directory with "dots" (eg. teste.com) this directory is not read to nginx/docker. So the entry to /etc/hosts is not created when you up the pilothouse. Getting error when try to access it.

It work only if you create local site directory without dots.

Version: 0.17.2

At the older version as 0.15.0 it is working very well.

[2020-10-02 23:18] #135 closed, assigned to nobody

[2020-10-02 23:22] philipnewcomer commented on #135
@guedesleandro I've published version `0.17.3` which should resolve this issue.

Note that whatever the site directory is, the local site URL will have `.dev` appended to it. You can always [customize the site URL](https://github.com/Pilothouse-App/Pilothouse/wiki/Customizing-a-Local-Site's-Settings) if you'd like.

[2021-02-24 14:25] chucklin72 opened #137 "cannot get past installation"

[2021-02-24 14:27] chucklin72 commented on #137
i thought maybe this is a permission error MacOS 11.2.1 so I installed nvm and tried to install

this is where it gets stuck
npm info run deasync@0.1.21 install node_modules/pilothouse/node_modules/deasync node ./build.js
npm info run deasync@0.1.21 install { code: 0, signal: null }
npm timing build:run:install:node_modules/pilothouse/node_modules/deasync Completed in 252ms
npm timing build:run:in